/*

@font-face {
font-family: MadeKnockout;
src: url(../fonts/Knockout.otf);
}

@font-face {
font-family: MadeGotham;
src: url(../fonts/Gotham-Book.otf);
}

@font-face {
font-family: MadeGothamDark;
src: url(../fonts/Gotham-Medium.otf);
}
*/


/* .description{ font-weight: 100; font-style: normal; 100 italic} */

.body,div,p,h1,h2,h3,h4,h5,h6{
	font-family: 'Gotham A', 'Gotham B', 'Arial';font-weight: 300; font-style: normal
	/*font-family: 'MadeGotham',"Arial";*/
}

h1,h2,h3,h4{
	text-transform: uppercase;
}

.dark{
	font-family: 'Gotham A', 'Gotham B'; font-weight: 500; font-style: normal;
	/*font-family: 'MadeGothamDark',"Arial";*/
}

.bloglede{
	font-size: 14px;
	text-transform:none;
}

.bloghed{
	font-family: 'Gotham A', 'Gotham B'; font-weight: 500; font-style: normal;
	color:#666;
	text-transform: uppercase;
	font-size:11px;
}

.white{
	color: #fff;
}

.black{
	color: #000;
}

.movietext{
	color: #fff;
	font-size: 200%;
}

.description{
	font-size: 11px;
	text-transform:none;
}

/* DIV SHAPES */

.colorA{
	background-color: #FFEE00;
}

.colorB{
	background-color: #00aeef;
	color: #fff;
}

.colorC{
	margin-top: -100px;
	background-color: #fff;
}

.colorD, .colorD h4, #leadership h5 {
	background-color: #EE0088;
	color: #fff;
}

.colorB h4 {
	color: #fff;
}

.shaped {
  width: 100%;
  /*-webkit-clip-path: polygon(0% 91%,100% 100%,100% 3%,0% 10%);*/
}

.link{
/* 	text-decoration: underline; */
}

.footlink{
	color:#000;
}

.footlink:hover{
	color:#666;
}

.whitelink{
/* 	text-decoration: underline; */
	color:#fff;
}

.whitelink:hover{
	color:#000;
}

.black:hover{
	color:#EE0088;
}

.padtop{
	padding-top: 50px;
}

.padmovie{
	padding-top: 150px;
}

.padme{
	padding-top: 50px;
	padding-bottom: 100px;
}

.padmeshort{
	padding-top: 50px;
}

.padmetall{
	padding-top: 50px;
	padding-bottom: 500px;
}

.padbottom{
	padding-bottom: 50px;

}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left {
	display: block;
	/*float: left;*/
	position: absolute;
}

.process {
	width: 40%;
}

.squiggle {
	width: 100%;
}

#leadership img {
	height: 100px;
	width: 100px;
}

#contact .link {
	border: 1px solid #000;
	padding: 18px 10px 18px 35px;
	margin: 10px 0 10px 0;
	color: #000;
	text-decoration: none;
	background: url(../img/arrow_right.svg) no-repeat;
	background-position: 97%;
	background-size: 30px;
}

#contact .link a {
	color: #000;
}

#card .social li {
	height: 40px;
	width: 40px;
	float: right;
	display: block;
	margin: 0 10px 0 10px;
}

/* MOVIE */
#movie {
	position: relative;
	display: block;
	left: 0;
	width: 100%;
/* 	margin-bottom: 700px; */
	border: 1px solid transparent;
}

.video_container iframe,  
.video_container object,  
.video_container embed,
.video_container video{
    /*
position: fixed;
    
*/left: 0;
    width: 100%;
    z-index: -100;
}​

#bgvid {
	width: 100%
}

/*NAVIGATION*/

.navbar ul li > a {
	font-family: 'Gotham A', 'Gotham B'; font-weight: 400; font-style: normal;	
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-shadow: 0 0 0, 0 0 0;
	color:#433a3a;
	display: block;
	padding: 0 10px; 
	white-space: nowrap; 
	height: 60px; 
	line-height: 65px;
	font-size: .8rem; 
}

.nav-tab{
	background: transparent url(../img/nav-marker.png) no-repeat;
	position: fixed;
}

.navbar a.toggle:hover { 
	background-color:rgba(10,10,10,0.1);
}

.navbar a.toggle:active, .navbar a.toggle.active { }

/*PANELS*/


.panel{
	width:100%;
	padding-top: 100px;
	padding-bottom: 40px;
}


.short-panel-color{
	background-color:#f4f4f4;
	width:100%;
}


.footer{
	background-color: #58585a;
	width:100%;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
}
