/*CUSTOM FONTS*/


@font-face {
font-family: MadeKnockout;
src: url(../fonts/Knockout.otf);
}

@font-face {
font-family: MadeGotham;
src: url(../fonts/Gotham-Book.otf);
}

@font-face {
font-family: MadeGothamDark;
src: url(../fonts/Gotham-Medium.otf);
}

.body,div,p,h1,h2,h3,h4,h5{
	font-family: 'MadeGotham',"Arial";
}


h1,h2,h3,h4{
	text-transform: uppercase;
}


.dark{
	font-family: 'MadeGothamDark',"Arial";
}

.movietext{
	color: #fff;
	font-size: 200%;
}

.description{
	font-size: 11px;
	text-transform:none;
}

/* DIV SHAPES */

.colorA{
	background-color: #f1f1f1;
}

.colorB{
	background-color: #00aeef;
}

.colorC{
	margin-top: -100px;
	background-color: #ffffff;
}


.shaped {
  width: 100%;
  height: 130%;
	-webkit-clip-path: polygon(0% 91%,100% 100%,100% 3%,0% 10%);
  
}

.padme{
	padding-top: 250px;
	padding-bottom: 15%;
}

.padmeshort{
	padding-top: 50px;
}

.padmetall{
	padding-top: 250px;
	padding-bottom: 250px;
}


/* MOVIE */

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(mudaicnb.jpg) no-repeat;
background-size:cover;
}

/*NAVIGATION*/

.navbar ul li > a { 
	font-family: 'MadeGotham',"Arial";
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-shadow: 0 0 0, 0 0 0;
	color:#433a3a;
	display: block;
	padding: 0 10px; 
	white-space: nowrap; 
	height: 60px; 
	line-height: 65px; 
	font-size: .8rem; 
}

.nav-tab{
	background: transparent url(../img/nav-marker.png) no-repeat;
}

.navbar a.toggle:hover { background-color:rgba(10,10,10,0.1);}

.navbar a.toggle:active, .navbar a.toggle.active { } }

/*PANELS*/


.panel{
	width:100%;
	padding-top: 100px;
	padding-bottom: 40px;
}


.short-panel-color{
	background-color:#f4f4f4;
	width:100%;
}


.footer{
	background-color: #58585a;
	width:100%;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
}
