/*CUSTOM FONTS*/


@font-face {
font-family: MadeKnockout;
src: url(../fonts/Knockout.otf);
}

@font-face {
font-family: MadeGotham;
src: url(../fonts/Gotham-Book.otf);
}

@font-face {
font-family: MadeGothamDark;
src: url(../fonts/Gotham-Medium.otf);
}

/*.description{ font-weight: 100; font-style: normal; 100 italic}*/

.body,div,p,h1,h2,h3,h4,h5{
	font-family: 'Gotham A', 'Gotham B', 'Arial';
	/*font-family: 'MadeGotham',"Arial";*/
}

h1,h2,h3,h4{
	text-transform: uppercase;
}

.dark{
	font-family: 'Gotham A', 'Gotham B', 'Arial';
	/*font-family: 'MadeGothamDark',"Arial";*/
}

.movietext{
	color: #fff;
	font-size: 200%;
}

.description{
	font-size: 11px;
	text-transform:none;
}

/* DIV SHAPES */

.colorA{
	background-color: #FFEE00;
}

.colorB{
	background-color: #00aeef;
	color: #fff;
}

.colorC{
	margin-top: -100px;
	background-color: #fff;
}

.colorD, .colorD h4, #leadership h5 {
	background-color: #EE0088;
	color: #fff;
}

.colorB h4 {
	color: #fff;
}

.shaped {
  width: 100%;
  height: 130%;
  /*-webkit-clip-path: polygon(0% 91%,100% 100%,100% 3%,0% 10%);*/
}

.padme{
	padding-top: 250px;
	padding-bottom: 15%;
}

.padmeshort{
	padding-top: 50px;
}

.padmetall{
	padding-top: 250px;
	padding-bottom: 250px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left {
	display: block;
	/*float: left;*/
	position: absolute;
	width: 600px;
	left: -370;
}

#leadership img {
	height: 100px;
	width: 100px;
}

#contact .link {
	border: 1px solid #000;
	padding: 15px 10px 15px 35px;
	margin: 10px 0 10px 0;
	color: #000;
	text-decoration: none;
}

#contact .link a {
	color: #000;
}

#card .social li {
	height: 40px;
	width: 40px;
	float: right;
	display: block;
	margin: 0 10px 0 10px;
}

/* MOVIE */

video#bgvid {
position: fixed;
right: 0;
top: 50px;
/*min-width: 100%;
min-height: 100%;
*/
width: 100%;
height: auto;
z-index: -100;
background: url(mudaicnb.jpg) no-repeat;
background-size:cover;
}

/*NAVIGATION*/

.navbar ul li > a { 
	font-family: 'MadeGotham',"Arial";
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-shadow: 0 0 0, 0 0 0;
	color:#433a3a;
	display: block;
	padding: 0 10px; 
	white-space: nowrap; 
	height: 60px; 
	line-height: 65px; 
	font-size: .8rem; 
}

.nav-tab{
	background: transparent url(../img/nav-marker.png) no-repeat;
}

.navbar a.toggle:hover { background-color:rgba(10,10,10,0.1);}

.navbar a.toggle:active, .navbar a.toggle.active { } }

/*PANELS*/


.panel{
	width:100%;
	padding-top: 100px;
	padding-bottom: 40px;
}


.short-panel-color{
	background-color:#f4f4f4;
	width:100%;
}


.footer{
	background-color: #58585a;
	width:100%;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
}
