// GRID

// @mixin grid($col: 3, $gutter: 20px, $margin: ($gutter * 2)) {
// 	float: left;
// 	margin: $gutter;
// 	width: calc((100% * (1/$col)) - $margin);
// }

// $gutter
// $col

@mixin grid2col($gutter: 20px) {
	float: left;
	margin: $gutter;
	width: calc(100% * (1/2) - 40px);
}

@mixin grid3col($gutter: 20px) {
	float: left;
	margin: $gutter;
	width: calc(100% * (1/3) - 40px);
}