@charset "utf-8";
@import 'normalize';

@import 'typography';
@import 'variables';
@import 'extends';
@import 'grid';

@import 'btn';

// CUSTOM STYLES

body {
	transition: all 0.15s linear;
}

header {
	@extend %container;

	h1, h2, a {
		margin-left: 20px;
		margin-right: 20px;
	}

	.action {
		text-align: center;
	}

	a {
		display: block;
		width: 200px;
		margin-bottom: 20px;
	}
}


.principles {
	@extend %container;
	@extend %clearfix;

	h2 {
		margin-left: 20px;
		margin-right: 20px;
	}

	img {
		max-height: 80px;
		width: 140px;
		margin-left: 20px;
		margin-right: 20px;

		@media screen and (min-width: $medium-tide) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.practice {
		margin-left: 20px;
		margin-right: 20px;

		@media screen and (min-width: $medium-tide) {
			@include grid2col;

			&:nth-child(4) {
				clear: both;
			}
		}

		@media screen and (min-width: $high-tide) {
			@include grid3col;

			&:nth-child(4) {
				clear: none;
			}
		}
	}
}

.team {
	@extend %container;
	@extend %clearfix;

	h2 {
		margin-left: 20px;
		margin-right: 20px;
	}

	.employee {
		margin-left: 20px;
		margin-right: 20px;

		@media screen and (min-width: $medium-tide) {
			@include grid2col;
		}


		@media screen and (min-width: $high-tide) {
			@include grid3col;
		}
	}
}

.info {
	@extend %container;

	h2, h4, p {
		margin-left: 20px;
		margin-right: 20px;
	}

	.location {
		@extend %clearfix;
	}

	.office {
		@include grid3col;

		p {
			@extend %reset;
		}
	}
}

footer {
	@extend %container;

	p {
		margin-left: 20px;
		margin-right: 20px;
	}
}