@charset "utf-8";
@import 'normalize';

@import 'typography';
@import 'variables';
@import 'extends';
@import 'grid';

@import 'btn';

// CUSTOM STYLES

header {
	@extend %container;

	h1, h2, a {
		margin-left: 20px;
		margin-right: 20px;
	}

	.action {
		text-align: center;
	}

	a {
		display: block;
		width: 200px;
		margin-bottom: 20px;
	}
}


.principles {
	@extend %container;
	@extend %clearfix;

	h2 {
		margin-left: 20px;
		margin-right: 20px;
	}

	img {
		max-height: 100px;
		width: 140px;
	}

	.practice {
		@include grid;
	}	
}

.team {
	@extend %container;
	@extend %clearfix;

	h2 {
		margin-left: 20px;
		margin-right: 20px;
	}

	.employee {
		@include grid;
	}
}

.info {
	@extend %container;

	h2, h4, p {
		margin-left: 20px;
		margin-right: 20px;
	}

	.location {
		@extend %clearfix;	
	}

	.office {
		@include grid;

		p {
			@extend %reset;
		}
	}
}

footer {
	@extend %container;

	p {
		margin-left: 20px;
		margin-right: 20px;
	}
}