@mixin highlight-color($color) {
	border-bottom: 4px solid $color;
}

@mixin border-color($color) {
	border: 4px solid $color;
}

.grid-item {
	float: left;
	width: $single-col-width;
	height: $single-col-height;
	background: #fff;
	@extend %clearfix;
	margin-bottom: $gutter;
	position: relative;
	overflow: hidden;
	// padding: 20px;

	h2 {
		@extend %reset;
		font-size: 12px;
		text-transform: uppercase;
		// margin-bottom: 20px;
		// margin-top: 30px;
		font-weight: 500;
	}

	h3, h4 {
		@extend %reset;
		position: relative;
		z-index: 10;
		font-weight: 300;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	button {
		// display: inline-block;
		// margin-top: 40px;
	}
}

.item-text {
	padding: 20px;
}

.box {
	height: 100%;
	width: 50%;
	float: left;
	overflow: hidden;

	@media all and (max-width: $high-tide) {
		float: none;
		width: 100%;
		height: 50%;
	}

	img {
		max-width: 100%;
	}
}

// .box.item-text {
// 	padding: 40px;
// }

.grid-item--width2 {
	width: $single-col-width * 2 + 10;
	height: $single-col-height;

	@media all and (max-width: $high-tide) {
		width: $single-col-width;
		height: $single-col-height * 2;
	}
}

.grid-item--width2.full-text {
	@media all and (min-width: $high-tide) {
		width: 790px;
	}
}

.grid-item--height2 {
	width: $single-col-width;
	height: $single-col-height * 2 + 10;

	.box {
		width: 100%;
		height: 50%;
	}
}

.grid-item--width2-height2 {
	width: $single-col-width * 2 + 10;
	height: $single-col-height * 2 + 10;

	@media all and (max-width: $med-tide) {
		width: $single-col-width;
		height: $single-col-height;
	}
}

.grid-item--width-full {
	width: $single-col-width * 3 + 20px;
	height: $single-col-width;

	@media all and (max-width: $high-tide) {
		width: $single-col-width * 2 + 10px;
	}

	@media all and (max-width: $med-tide) {
		width: $single-col-width;
	}
}

.grid-item--width-height-full {
	width: $single-col-width * 3 + 20px;
	height: 720px;

	@media all and (max-width: $high-tide) {
		width: $single-col-width * 2 + 10;
		height: 480px
	}

	@media all and (max-width: $med-tide) {
		width: $single-col-width;
		height: 240px;
	}

	&.oculus {
		height: 660px;

		@media all and (max-width: $high-tide) {
			height: 440px
		}

		@media all and (max-width: $med-tide) {
			height: 220px;
		}
	}

	&.insite-banner {
		height: 680px;

		@media all and (max-width: $high-tide) {
			height: 450px
		}

		@media all and (max-width: $med-tide) {
			height: 220px;
		}
	}

	&.acw-worker {
		height: 680px;

		@media all and (max-width: $high-tide) {
			height: 450px
		}

		@media all and (max-width: $med-tide) {
			height: 220px;
		}
	}
}

// .item-text {
// 	padding: 20px;
// }

.item-icon {
	padding-bottom: 20px;
	position: relative;
	z-index: 10;
}

.item-bg {
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.has-item-bg {
	h3 {
		color: #fff;
		// background: rgba(0, 0, 0, .3);
		// padding: 20px;
	}
}

a.grid-item {
	// @include border-color(transparent);
}

.grid-item .icon {
	font-size: 36px;
	display: inline-block;
	margin-bottom: 20px;
}

.grid-item.action {
	background: $action-accent;
	color: #fff;

	h3 {
		color: #fff;
	}
}

.grid-item .ion-document {
	@include highlight-color($doc-highlight);
}

a.white-paper {
	&:hover {
		// @include border-color($doc-highlight);
		background: $doc-highlight;

		.ion-document {
			@include highlight-color(#fff);
			color: #fff;
		}

		h3 {
			color: #fff;
			  -webkit-transition: color .2s ease-out, background .2s ease-in;
				 -moz-transition: color .2s ease-out, background .2s ease-in;
				  -ms-transition: color .2s ease-out, background .2s ease-in;
				   -o-transition: color .2s ease-out, background .2s ease-in;
				 	  transition: color .2s ease-out, background .2s ease-in;
		}

		.item-icon {
			@include highlight-color(#fff);
		}
	}
}

.case-study {

	.item-icon {
		@include highlight-color($case-highlight);
	}
}

a.case-study {
	&:hover {
		// @include border-color($case-highlight);

		h2, h3 {
			color: $case-highlight;
			  -webkit-transition: color .2s ease-out, background .2s ease-in;
				 -moz-transition: color .2s ease-out, background .2s ease-in;
				  -ms-transition: color .2s ease-out, background .2s ease-in;
				   -o-transition: color .2s ease-out, background .2s ease-in;
				 	  transition: color .2s ease-out, background .2s ease-in;
		}
	}
}

.social {
	.item-icon {
		@include highlight-color($social-highlight);
	}
}

a.social {
	&:hover {
		// @include border-color($social-highlight);
		background: $social-highlight;

		h2, h3 {
			color: #fff;
			  -webkit-transition: color .2s ease-out, background .2s ease-in;
				 -moz-transition: color .2s ease-out, background .2s ease-in;
				  -ms-transition: color .2s ease-out, background .2s ease-in;
				   -o-transition: color .2s ease-out, background .2s ease-in;
				 	  transition: color .2s ease-out, background .2s ease-in;
		}

		.item-icon {
			@include highlight-color(#fff);
		}
	}
}

.instagram {
	border-color: transparent;

	.item-icon {
		@include highlight-color($social-highlight);
	}
}

a.instagram {
	&:hover {
		// @include border-color($social-highlight);
	}
}

.video-tile {

	.item-icon {
		@include highlight-color($video-highlight);
	}
}

a.video-tile {
	&:hover {
		// @include border-color($video-highlight);

		h2, h3 {
			color: $video-highlight;
			  -webkit-transition: color .2s ease-out, background .2s ease-in;
				 -moz-transition: color .2s ease-out, background .2s ease-in;
				  -ms-transition: color .2s ease-out, background .2s ease-in;
				   -o-transition: color .2s ease-out, background .2s ease-in;
				 	  transition: color .2s ease-out, background .2s ease-in;
		}
	}
}

.item-space {
	padding: 0;

	h3 {
		font-weight: 400;
		text-transform: uppercase;
	}

	h4 {
		// text-transform: uppercase;
		font-size: .8em;
		margin-top: 4px;
		margin-bottom: 40px;
	}

	@media all and (max-width: $high-tide) {
		height: auto;
	}

	.box-a {
		float: left;

		@media all and (max-width: $high-tide) {
			float: none;
		}
	}

	.box-b {
		float: right;
	    // height: 100%;

		@media all and (max-width: $high-tide) {
			float: none;
			height: auto;
			width: 100%;
		}
	}

	.text {
		width: 40%;
		padding-top: 20px;
		padding-left: 60px;
		padding-right: 60px;

		@media all and (max-width: $high-tide) {
			width: 100%;
			height: auto;
			width: 100%;
		}
	}

	&.grid-item {
		margin-bottom: 80px;
	}

	.video-embed {
		width: 60%;

		@media all and (max-width: $high-tide) {
			width: 100%;
			height: auto;
			width: 100%;
		}
	}
}

.grid-middle {
	@media all and (max-width: $high-tide) {
		.box-a {
			float: left;
		}

		.box-b {
			float: right;
		}
	}
}

.responsive-container { position: relative; padding-bottom: 54.25%; height: 0; overflow: hidden; }
.responsive-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.item-pic {
	@media all and (max-width: $med-tide) {
		height: $single-col-height;
		width: $single-col-width;

		img {
			height: 100%;
			width: auto;
		}
	}
}

.full-text {
	@media all and (max-width: $med-tide) {
		height: $single-col-height;
	}
}