.feature {
	height: 100vh;
	background: url(https://images.unsplash.com/photo-1428550670225-15f007f6f1ba?q=80&fm=jpg&s=bb2ea817134da9d8b90f305b07d2226e) center center / cover;

	.title {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		color: white;
		margin: 0 auto;

		h1 {
			@extend %ir;
		}
	}

	h2 {
		max-width: 1110px;
		@extend %reset;
		padding-top: 40vh;
		font-size: 3em;
		color: white;
		margin: 0 auto;

		@media screen and (min-width: 720px) {
			font-size: 4em;
		}
	}

	p {
		max-width: 1120px;
		margin: 0 auto;
		font-size: 1.5em;
		line-height: 1.5em;
		margin-top: 40px;
		font-weight: 100;
	}
}

