body {
	background: url(/images/pattern.png);
}

.hide {
	display: none;
}

.hide-mobile {
	@media all and (max-width: $high-tide) {
		display: none;
	}
}


// QUICK SVG HACK
.cls-1 {
	fill: transparent !important;
	stroke-width: 1px !important;
	overflow: visible !important;
}

svg {
	overflow: visible !important;
}