*, *:after, *:before, html {
	-webkit-font-smoothing: antialiased;
}

body {
	background: url(../images/base/pattern.png);
}

.hide {
	display: none;
}

.hide-mobile {
	@media all and (max-width: $high-tide) {
		display: none;
	}
}