// TYPOGRAPHY

$heading-font: 'Gotham A', 'Gotham B';
// font-weight: 300; font-style: normal;
// font-weight: 900; font-style: normal;

$body-font: 'Whitney SSm A', 'Whitney SSm B';
// font-weight: 300; font-style: normal;
// font-weight: 300; font-style: italic;
// font-weight: 600; font-style: normal;
// font-weight: 600; font-style: italic;

// * {
// 	-webkit-font-smoothing: antialiased;
// }

// Using IonIcons for web icon font: http://ionicons.com

@mixin heading-font($color: black, $weight: 400) {
	font-family: 'Gotham A', 'Gotham B', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: $color;
	font-weight: $weight;
}

@mixin body-font($weight: 300, $style: normal, $color: black) {
	font-family: 'Whitney SSm A', 'Whitney SSm B', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: $weight;
	font-style: $style;
	color: $color;
}

body {
	@include body-font($weight: 400);
	font-size: 18px;

	// @media screen and (min-width: 720px) {
	// 	font-size: 18px;
	// }

}

p {
	line-height: 1.5;
}

h1 {
	@include heading-font;
	// text-transform: uppercase;
	@extend %reset;

	@media screen and (min-width: $med-tide) {
		font-size: 3.5em;
	}
}

h1.page-title {
	text-align: center;
	padding: 120px 0 60px 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 3.2em;
	color: $base-bg;
}

h2 {
	@include heading-font;
	font-size: 2em;
}

h3 {
	@include heading-font();
	font-size: 1.5em;
}

h4 {
	@extend %reset;
	@include heading-font();
	font-weight: 300;
	font-size: 1em;
}

a {
  @include body-font($weight: 400);
  -webkit-transition: color .2s ease-out, background .2s ease-in;
	 -moz-transition: color .2s ease-out, background .2s ease-in;
	  -ms-transition: color .2s ease-out, background .2s ease-in;
	   -o-transition: color .2s ease-out, background .2s ease-in;
	 	  transition: color .2s ease-out, background .2s ease-in;
}

a, a:hover, a:visited, a:focus {
	color: black;
	text-decoration: none;
	cursor: pointer !important;
}

a:hover {
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}