// TYPOGRAPHY

$heading-font: 'Gotham A', 'Gotham B';
// font-weight: 300; font-style: normal;
// font-weight: 900; font-style: normal;

$body-font: 'Whitney SSm A', 'Whitney SSm B';
// font-weight: 300; font-style: normal;
// font-weight: 300; font-style: italic;
// font-weight: 600; font-style: normal;
// font-weight: 600; font-style: italic;

* {
	-webkit-font-smoothing: antialiased;
}

@mixin heading-font($color: black, $weight: 900) {
	font-family: 'Gotham A', 'Gotham B', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: $color;
}

@mixin body-font($weight: 300, $style: normal, $color: black) {
	font-family: 'Whitney SSm A', 'Whitney SSm B', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: $weight;
	font-style: $style;
	color: $color;
}

body {
	@include body-font($weight: 300);
	font-size: 12px;
	// line-height: 1.5em;

	@media screen and (min-width: 720px) {
		font-size: 18px;
	}

}

h1 {
	@include heading-font;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
	@extend %reset;
	text-align: center;
	padding: 120px 0 60px 0;

	&.main-title {
		display: none;
	}

	@media screen and (min-width: $med-tide) {
		font-size: 3.5em;
	}
}

h2 {
	@include body-font;
	font-size: 2em;
	// line-height: 1.5em;
}

h3 {
	@include body-font(100);
	font-size: 1.5em;
}

a, a:hover, a:visited, a:focus {
	color: white;
	text-decoration: none;
	cursor: pointer !important;
}