// GRID VARIABLES
$max-width: 1280px;
$single-col-width: 400px;
$single-col-height: 400px;
$gutter: 10px;

// BREAKPOINTS
$high-tide: 1230px;
$med-tide: 810px;


// COLORS
$doc-highlight: #FFAA07;
$case-highlight: #EF233C;
$social-highlight: #4BB3FD;
$video-highlight: #6766FC;
$base-bg: #2B2D42;