// GRID ITEM WIDTH
$max-width: 1080px;
$gutter: 10px;
$single-col-width: 270px;
$card-width: 270px;

// GRID ITEM HEIGHT
$single-col-height: $card-width;

$short: 200px;
$tall: 320px;
$grande: 400px;
$vente: 625px;

// BREAKPOINTS
$high-tide: 1230px;
$med-tide: 810px;
$small-tide: 560px;


// COLORS
$base-bg: #031927;
$external-accent: #084c61;
$action-accent: #db504a;
$highlight: #e3b505;
$neutral: #606076