---
title: "ACW | MU/DAI"
---

<article class="feature featured-case acw">
	<div class="title shade">
		<h1 class="main-title">ACW</h1>
		<h2>ACW</h2>
		<p>Transforming construction through data-driven design</p>
	</div>
</article>

<article class="content">
	<div class="grid">
		<div class="grid-item grid-item--width2-height2 case-study">
			<div class="item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<p>
					Clayco has been a leader in construction innovation for
					decades. The advancement of mobile devices, connectivity
					innovation in safety, logistics and productivity.
				</p>
				<p>
					MU/DAI was asked to create a pilot program for worker
					productivity and safety, laying the foundation for a data-
					driven approach to construction management and planning.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/Diagram.png" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/04.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-full item-pic">
			<img src="images/ACW/Scenario-One.png" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/03.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2-height2">
			<div class="item-text">
				<h3>
					Improving productivity<br>
					through practicality
				</h3>
				<p>
					We explored the needs of workers, foremen, and
					administrators across a number of ocnstruction projects
					while evaluating the landscape of available technologies.
					Construction sites provide a unique set of challenges from the harshness of the environment to the absence of power, wifi,
					and technology support staff. Our recommendation needed
					to be reliable, redundant and effective despite technical
					limitations.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/Site_Square.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-full item-pic">
			<img src="images/ACW/acw_personas_mgmt_process_flow.png" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/08.png" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2 full-text">
			<div class="item-text">
				<p>
					We put a new spin on existing technologies to get to the solution effectively and practically. User needs and technological considerations paved the way for an approach that  can be relied upon in sparse worksite conditions before electricity or WiFi are available.  The solution leverages a  combination of active and passive RFID creates a monitored perimeter on open sites while GPS and Bluetooth LE enable small- scale tracking as construction progresses.
				</p>
			</div>
		</div>

		<div class="grid-item grid-item--width-full">
			<div class="item-text">
				<h3>Laying the foundation for the future</h3>
				<p>Our designers and technologists worked side by side to prototype in the lab and in the field, ensuring reliability and function while design researches and experience designers crafted the personas, journey maps and experience architecture for future applications of the technology.</p>
				<p>Clayco projects are diverse and built upon the highest standard of human safety and construction engineering. Our work has contributed to their ability to track the movement of every person on a job site, creating a data-driven foundation for improving process, safety and efficiency.</p>
			</div>
		</div>

	</div>
</article>