---
title: "ACW | MU/DAI"
---

<article class="feature featured-case acw">
	<div class="title shade">
		<h1>ACW</h1>
		<p>Transforming construction through data-driven design</p>
	</div>
</article>

<article class="content">
	<div class="grid">
		<div class="grid-item grid-item--width2-height2 case-study">
			<div class="item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<p>
					Never before in history has the construction industry been poised for so much change. The advancement of mobile devices, connectivity and sensors has opened the door for new opportunities in construction safety, logistics and productivity.
				</p>
				<p>
					Clayco, a long-time leader in construction innovation, asked MU/DAI to create a <strong>data-driven, pilot program for worker productivity and safety</strong>.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/Diagram.png" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/04.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-height-full acw-worker item-pic">
			<img src="images/ACW/Scenario-One.png" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/03.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2-height2">
			<div class="item-text">
				<p>
					First, we needed to understand the environment we were asked to solve for. We started by exploring the needs, behaviors, attitudes and preferences of workers, foremen and administrators across a number of Clayco construction projects. We quickly realized that construction sites come with a host of challenges – harsh landscape, no power or WiFi, and the conspicuous absence of any technology support staff.
				</p>
				<p>
					After our initial exploration we agreed that whatever recommendations we made or solutions we provided needed to be reliable, redundant and effective despite these challenges and limitations.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/Site_Square.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-full item-pic">
			<img src="images/ACW/acw_personas_mgmt_process_flow.png" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/ACW/08.png" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2 full-text">
			<div class="item-text">
				<p>
					The solution we ultimately developed helps Clayco track the movement of every person on a job site -- regardless of location -- creating a data-driven foundation for improving process, safety and efficiency. We leveraged a combination of active and passive RFID, creating a monitored perimeter on open while GPS and Bluetooth LE enable small-scale tracking as the project progresses. We basically put a new spin on existing technologies to conceptualize this design, applying both user needs and technological considerations to land on an approach that delivers real value in rough worksite conditions before electricity or WiFi are available.
				</p>
			</div>
		</div>

		<div class="grid-item grid-item--width-full">
			<div class="item-text">
				<p>Our researches and designers crafted personas, journey maps and experience architecture and worked side by side with technologists to prototype in the lab and in the field. This collaborative, iterative process helps us ensure that the solutions we design are reliable and effective. </p>
			</div>
		</div>

	</div>
</article>