---
title: "Allstate | MU/DAI"
---

<header class="feature featured-case allstate">
	<div class="title shade">
		<h1>ALLSTATE</h1>
		<p>Realizing the Potential of Virtual Collaboration</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Allstate, an organization of trusted insurance advisors and a leader in customer service, had a hypothesis that virtual collaboration technologies could transform specific business processes, ultimately increasing sales opportunities and improving productivity across teams.
		<br><br>
		MU/DAI partnered with Allstate to help them understand the potential of Cisco collaboration technology to foster efficiency and collaboration across their claims and life & retirement services. We worked closely with Allstate stakeholders and Cisco’s development teams to translate existing blue-sky ideas into a scalable proof of concept for a pilot program. Three unique applications were piloted to address body-shop handling inefficiencies, support claims adjusters in the field and help life & retirement agents better connect with customers.
	</p>

	<div class="banner">
		<img src="images/allstate/Allstate_01.jpg" alt="Diagram of a task flow">
	</div>

	<p>We led the team through a co-design process to outline the minimum viable product (MVP) experience and to explore the best ways to design and execute a successful pilot program. Interviews with Allstate stakeholders and reviews of the initial discovery work revealed potential challenges with the implementation of virtual collaboration, including limits of existing organizational infrastructure and employee work flows.
 	<br><br>
	The team worked around the constraints to develop a practical and sustainable solution. Rapidly iterating on concept models, screen flows and wireframes, we created three initial design prototypes that were tested and validated with Allstate agents, in preparation for the development team for building out the experience.
	<br><br>
	In addition to visual design and branding of the applications, MU/DAI also created a user interface style guide and design standards for the Allstate user experience team. These guidelines help ensure quality and consistency, decrease design-to-build time and provide a framework for use on other mobile applications.
	</p>

	<div class="banner">
		<img src="images/allstate/Allstate_02.jpg" class="High fidelity flow for the entire application">
	</div>

	<p>
	Working with Allstate, MU/DAI pushed the limits of Cisco virtual collaboration features such as image-capture, screen-sharing and video chat, creating a connected and powerful workflow. Our methods and solutions received overwhelmingly positive feedback from internal stakeholders and Allstate agents, as well as our Cisco partners.
	<br><br>
	The resulting virtual collaboration app improves the process of creating and reviewing supplemental claim requests from body shops, helps adjusters in the field connect and receive support from remote experts and allows Allstate agents to connect with more customers, more effectively. Ongoing data collection from the initial release will equip Allstate with the information needed to adjust and improve the pilot solution for a full program implementation.
	</p>


	<div class="banner">
		<img src="images/allstate/Allstate_03.jpg" class="Displaying the application in use on an iPad">
	</div>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/insite/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Workshops that Work Hard</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/woc/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/clayco/thumbnail.jpg">
			</div>
		</a>
	</article>

</section>