---
title: "Allstate | MU/DAI"
---

<header class="feature featured-case allstate">
	<div class="title shade">
		<h1>ALLSTATE</h1>
		<p>Transforming Business Through Virtual Collaboration</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Allstate,one of the world’s largest insurance providers and a leader in customer service, had a hypothesis that virtual collaboration technologies could transform specific business processes, ultimately increasing revenue and improving productivity across teams.
		<br><br>
		MU/DAI partnered with Allstate to help them understand the potential of Cisco collaboration technology to foster efficiency and collaboration across their claims and life & retirement services. We worked closely with Allstate stakeholders and Cisco’s development teams to translate existing blue-sky ideas into a scalable proof of concept for a pilot program. Three unique applications were piloted to streamline body-shop estimation processes, support claims adjusters in the field and help life & retirement agents better connect with customers.
	</p>

	<div class="banner">
		<img src="images/allstate/Allstate_01.jpg" alt="Diagram of a task flow">
	</div>

	<p>We led the team through a co-design process to outline the minimum viable product (MVP) experience and to explore the best ways to design and execute a successful pilot program.
 	<br><br>
	Rapidly iterating on concept models, screen flows and wireframes, we created three initial design prototypes that were tested and validated with Allstate agents, in preparation for the development team for building out the experience.
	<br><br>
	In addition to visual design and branding of the applications, MU/DAI also created a user interface style guide and design standards for the Allstate user experience team.
	<br><br>
	These guidelines help ensure quality and consistency, decrease design-to-build time and provide a framework for use on other mobile applications.
	</p>

	<div class="banner">
		<img src="images/allstate/Allstate_02.jpg" class="High fidelity flow for the entire application">
	</div>

	<p>
	Working with Allstate, MU/DAI pushed the limits of Cisco virtual collaboration features such as image-capture, screen-sharing and video chat, creating a connected and powerful workflow. Our methods and solutions received overwhelmingly positive feedback from internal stakeholders and Allstate agents, as well as our Cisco partners.
	<br><br>
	The resulting virtual collaboration apps improve the process of creating and reviewing supplemental claim requests from body shops, helps adjusters in the field connect and receive support from remote experts and allows Allstate agents to connect with more customers, more effectively. Ongoing data collection from the initial release will equip Allstate with the information needed to adjust and improve the pilot solution for a full program implementation.
	</p>


	<div class="banner">
		<img src="images/allstate/Allstate_03.jpg" class="Displaying the application in use on an iPad">
	</div>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="ama-succeeding.html" class="story-card">
			<div class="copy">
				<h4>American Medical Association</h4>
				<h3>Reimagining Medical Career Planning</h3>
				<p>The AMA and MU/DAI teamed up to help employers and insurers assess medical cost savings for the National Diabetes Prevention Program.</p>
			</div>
			<div class="asset">
				<img src="images/ama-succeeding/AMA-Succeeding-Link.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/clayco/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="salesforce.html" class="story-card">
			<div class="copy">
				<h4>Salesforce Foundation</h4>
				<h3>Combatting Piracy in Global Fisheries</h3>
				<p>The Salesforce Foundation engaged MU/DAI to help combat piracy in global fisheries using machine vision, artificial intelligence and the power of the crowd. </p>
			</div>
			<div class="asset">
				<img src="images/salesforce/Salesforce-Link.jpg">
			</div>
		</a>
	</article>
</section>