---
title: "American Medical Association | MU/DAI"
---

<header class="feature featured-case ama-succeeding">
	<div class="title shade">
		<h1>American Medical Association</h1>
		<p>Reimagining Medical Career-Planning Resources</p>
	</div>
</header>

<article class="content case-study">
	<p>
		The American Medical Association (AMA) provides medical students, residents, and physicians with powerful tools and resources needed to succeed at every career stage. To ensure these resources are as relevant and impactful as possible, AMA asked MU/DAI to help them develop a new approach to offering career-planning information.
		<br><br>
		Our work focused on researching, designing and building an interactive, responsive web experience to replace an underutilized medical career planning PDF resource. Over the course of the project, the resource was transformed into a cross-platform knowledge base and engaging content experience for medical students, residents/fellows and early practitioners.
	</p>

	<div class="banner">
		<img src="images/ama-succeeding/Workshop.jpg" alt="Photos of people working together at a workshop">
	</div>

	<p>
	MU/DAI began discovery with AMA stakeholders and key department members alongside medical students from Northwestern. An initial audience discovery session, followed by sketching sessions with students, revealed common preferences and needs among users – what devices they use and how they consume content, track achievements and share information about getting through medical school and into practice.
	<br><br>
	We continued to build on our understanding of potential users and medical career stage milestones. This effort included a survey focused on topics, formats, learning habits and user environments, as well as sketching sessions with residents and physicians to test early approaches to navigation and structure. It became clear that this time-crunched audience needed to find information quickly and easily and was interested in real-world experiences from practitioners and actionable next steps to apply what they learned.
	<br><br>
	MU/DAI then assessed the usability of early design concepts through several rounds of rapid prototyping across multiple devices. Our findings were integrated into the user experience, addressing issues with site navigation, prioritizing topics, improving article content and promoting members-only access. In the end, the project team moved through four distinct phases of user research that yielded vital insights as the basis for subsequent design activities.
	</p>

	<div class="banner">
		<img src="images/ama-succeeding/Sketches.png" alt="Sketched wireframes">
		<img src="images/ama-succeeding/Personas.png" alt="Persona cards">
	</div>

	<p>
	MU/DAI worked closely with the AMA team to create an effective and scalable experience strategy and framework. Continuous testing and refinement ensured responsiveness across devices and screens, and the site went live with a solid foundation of relevant content that will continue to develop and evolve.
	<br><br>
	Our experience design approach allows users to quickly discover information through multiple entry points via keyword search, topic search, a career timeline and/or career-focused pages. Working with AMA stakeholders and subject-matter experts enabled us to reduce the original page count by more than 100 pages. The resulting experience is a simple, approachable and reliable resource that better helps medical students, residents and early physicians navigate key career transition points.
	</p>

	<div class="banner">
		<img src="images/ama-succeeding/Final-Product.jpg" alt="Screenshots of final UI on a phone and laptop">
	</div>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/insite/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Workshops that Work Hard</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/woc/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="xcor.html" class="story-card">
			<div class="copy">
				<h4>XCOR</h4>
				<h3>One Giant Leap towards Practical</h3>
				<p>MU/DAI was asked to help craft their story through the development of digital and physical brand experiences that communicate the importance of their mission and the opportunity we each have in shaping it.</p>
			</div>
			<div class="asset">
				<img src="images/xcor/thumbnail.jpg">
			</div>
		</a>
	</article>

</section>