---
title: "Clayco | MU/DAI"
---

<header class="feature featured-case acw">
	<div class="title shade">
		<h1>Clayco</h1>
		<p>Transforming Construction through Data-Driven Design</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Never before has the construction industry been poised for so much change. The advancement of mobile devices, connectivity and sensors has opened the door for new opportunities in construction safety, logistics and productivity.
		<br><br>
		Clayco, a long-time leader in construction innovation, asked MU/DAI to create a <strong>data-driven, pilot program for worker productivity and safety</strong>.
	</p>

	<div class="banner">
		<img src="images/ACW/ACW_03.jpg">
	</div>

	<p>First, we needed to understand the environment we were asked to solve for, as well as the people who would be using the technology we developed. We started by exploring the needs, behaviors, attitudes and preferences of workers, foremen and administrators across a number of Clayco construction projects. We quickly realized that construction sites come with a host of challenges – a volatile landscape, harsh environmental conditions and limited power or Wi-Fi.
	<br><br>
	We’re putting a new spin on existing technologies to design an effective, practical solution. Our approach relies on an understanding of user needs, environmental factors and technology considerations to deliver solutions that can be executed on a worksite in any phase of construction – even before electricity and connectivity are available.
	</p>

	<div class="grid-gen grid-pad banner">
		<div class="col-1-3">
			<img src="images/ACW/03.jpg" alt="sketches of flow">
		</div>
		<div class="col-1-3">
			<img src="images/ACW/04.jpg" alt="card sorting">
		</div>
		<div class="col-1-3">
			<img src="images/ACW/08.png" alt="outlined deliverable">
		</div>
	</div>

	<div class="banner">
		<img src="images/ACW/acw_personas_mgmt_process_flow.png" alt="flow chart">
	</div>

	<p>Our solution helps track the movement of people, tools and equipment on a job site, creating a data-driven foundation for improving process, safety and efficiency. We’re leveraging a combination of active and passive RFID, GPS and Bluetooth LE technologies to enable activity tracking within the job site perimeter and specific work zones as the project progresses.
	<br><br>
	Our experience designers and technologists are working side by side to prototype solutions in the lab and in the field, ensuring both reliability and function. Design researchers are crafting in-depth user personas and journey maps to inform the experience architecture for future applications of the technology. This collaborative, iterative process helps us ensure that the solutions we design are reliable and effective.
	<br><br>
	Clayco projects are diverse and built upon the highest standard of human safety and construction engineering. Our work is providing a foundation for analyzing data about worker patterns as well as tools, materials and equipment use, contributing to the overall safety and efficiency of the job site.</p>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/INSITE/Thumbnail_INSITE.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Workshops that Work Hard</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/WOC/Thumnail_WOC.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="xcor.html" class="story-card">
			<div class="copy">
				<h4>XCOR</h4>
				<h3>One Giant Leap towards Practical</h3>
				<p>MU/DAI was asked to help craft their story through the development of digital and physical brand experiences that communicate the importance of their mission and the opportunity we each have in shaping it.</p>
			</div>
			<div class="asset">
				<img src="images/XCOR/Thumbnails_Xcor.jpg">
			</div>
		</a>
	</article>

</section>