---
title: "The Future of Currency | MU/DAI"
---

<header class="feature white-paper">
	<div class="title">
		<h1>
			The Future of Currency:<br>
			Financial Experience<br>
			Products
		</h1>
		<p>Exploring the impact of experience strategy for financial services.</p>
	</div>
</header>

<section class="sign-up">
	<div class="container">
		<div class="grid-gen">
			<div class="info">
				<p><i class="icon ion-checkmark"></i>How do we create a new kind of digital teller that has access to vast and unlimited financial expertise, available anytime and for every customer?</p>
				<p><i class="icon ion-checkmark"></i>How do we provide increasingly effortless access to private information while ensuring near-absolute security?</p>
				<p><i class="icon ion-checkmark"></i>How do we make banking feel human while integrating advanced automation?</p>
			</div>
			<aside>
				<form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
				      action="https://mudai.wufoo.com/forms/m1bakrtf0vdwt56/#public">
					<ul>
						<li id="foli1" class="notranslate      ">
							<input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required placeholder="Name"/>
						</li>
						<li id="foli4" class="notranslate      ">
							<input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup=""       required placeholder="Company"/>
						</li>
						<li id="foli5" class="notranslate      ">
							<input id="Field5" name="Field5" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       required placeholder="Email"/>
						</li>
						<li id="foli6" class="phone notranslate      ">
							<span>
								<input id="Field6" name="Field6" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" placeholder="###" />
								<!-- <label for="Field6">###</label> -->
							</span>
							<!-- <span class="symbol">-</span> -->
							<span>
								<input id="Field6-1" name="Field6-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="5" placeholder="###"/>
								</span>
								<!-- <span class="symbol">-</span> -->
								<span>
									 <input id="Field6-2" name="Field6-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="6" placeholder="###"/>
							</span>
						</li>
						<li class="buttons ">
							<input id="saveForm" name="saveForm" class="btTxt submit btn" type="submit" value="Download Now"/>
						<li class="hide"> type="hidden" id="idstamp" name="idstamp" value="A3D+uwPsh+fnmU+muzSfLaOfJRBlmlDPOC2BFYJr1fY=" />
						</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

</section>