---
title: "GEM | MU/DAI"
---

<header class="feature featured-case gem">
	<div class="title shade">
		<h1>Gem Shopping Network&#8482;</h1>
		<p>Enhancing E-Commerce for Maximum Impact</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Gem Shopping Network™ is a high-end jewelry retailer with a 24-hour cable network dedicated to showcasing one-of-a-kind pieces. With a reach of more than 40 million U.S. households, the network showcases high-quality, affordable gemstones and fine jewelry from around the world.
		<br><br>
		In late 2015, Gem Shopping Network partnered with MU/DAI to redesign their e-commerce website, with the goal of increasing revenue generated from the website and enhancing the overall digital experience. To ensure a site launch in time for the holidays, we created a streamlined plan designed for maximum impact in a short time.
	</p>

	<div class="banner">
		<img src="images/gem/GEM_01.png" alt="Screenshot of GEM styleguide">
	</div>

	<p>Our work began with stakeholder interviews, brand evaluation, competitive assessment and an analysis of the current website. Together with the client team, we rearticulated brand attributes and redeveloped the organization’s logo, typefaces, color palette and core interface elements.
	<br><br>
	With the design direction established, we applied the new look and feel across the existing site. In parallel with visual design, we created screen flows and wireframes defining new interactive features, using an iterative approach to quickly solidify longer-term enhancements such as product categorization, advanced filtering and personalized shopping tools.
	<br><br>
	This approach enabled us to get to market quickly with a visual refresh while simultaneously defining the new features that would be added to the site over a short series of subsequent releases.
	</p>

	<div class="banner">
		<img src="images/gem/GEM_02.jpg" alt="Screenshot of GEM website on a laptop">
	</div>

	<p>
	Over the course of a few short weeks, we were able to deliver a suite of fully responsive templates as well as a collection of new features. Our work launched just before Black Friday and resulted in increases in time spent on site, conversion and revenue generated from the site.
	<br><br>
	This initial launch has set the stage for further site evolution and enhancements  that Gem Shopping Network will continue to launch throughout 2016 and beyond.
	</p>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Driving Results Through Design Collaboration</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/woc/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="allstate.html" class="story-card">
			<div class="copy">
				<h4>Allstate</h4>
				<h3>Transforming Business Through Virtual Collaboration</h3>
				<p>Allstate asked MU/DAI to help them discover how virtual collaboration technology could transform their insurance claims and life and retirement services businesses.</p>
			</div>
			<div class="asset">
				<img src="images/allstate/Allstate-Link.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="xcor.html" class="story-card">
			<div class="copy">
				<h4>XCOR</h4>
				<h3>One Giant Leap towards Practical</h3>
				<p>MU/DAI was asked to help craft their story through the development of digital and physical brand experiences that communicate the importance of their mission and the opportunity we each have in shaping it.</p>
			</div>
			<div class="asset">
				<img src="images/xcor/thumbnail.jpg">
			</div>
		</a>
	</article>

</section>