---
title: "GEM | MU/DAI"
---

<header class="feature featured-case gem">
	<div class="title shade">
		<h1>Gem Shopping Network</h1>
		<p>Enhancing the E-Commerce Customer Experience </p>
	</div>
</header>

<article class="content case-study">
	<p>
		Gem Shopping Network partnered with MU/DAI to redesign their e-commerce website while setting the stage for future enhancements. With a goal of launching a new site in time for the holidays, our team created a streamlined project plan focused on making an impact quickly.
		<br><br>
		Our work began with stakeholder interviews, brand evaluation, competitive assessment and an analysis of the Gem website. Together with the client team, we rearticulated brand attributes and redeveloped the organization’s logo, typefaces, color palette and core interface elements.
	</p>

	<div class="banner">
		<img src="images/gem/GEM_01.png" alt="Screenshot of GEM styleguide">
	</div>

	<p>With the design direction established, we applied the new look and feel across the existing site. In parallel with visual design, we created screen flows and wireframes defining new interactive features, using an iterative approach to quickly solidify longer-term enhancements such as product categorization, advanced filtering and personalized shopping tools. Across both tracks of work we concentrated on extending existing functionality and applying best practices.
	</p>

	<div class="banner">
		<img src="images/gem/GEM_02.jpg" alt="Screenshot of GEM website on a laptop">
	</div>

	<p>
	Over the course of a few short weeks, we were able to deliver a suite of fully responsive templates as well as a collection of new features. Our work launched just before Black Friday, resulting in increases in all major commerce metrics including time spent on site, shopping cart conversion and overall sales.
	<br><br>
	Since the site launch, GSN has begun rolling out the additional features we co-developed and we’re in conversation about our next phases of work.
	</p>


	<div class="banner">
		<img src="images/allstate/Allstate_03.jpg" class="Displaying the application in use on an iPad">
	</div>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/insite/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Workshops that Work Hard</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/woc/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/clayco/thumbnail.jpg">
			</div>
		</a>
	</article>

</section>