---
title: "Practical Innovation in Healthcare | MU/DAI"
---

<header class="feature white-paper">
	<div class="title">
		<h1>
			Practical Innovation<br>
			in Healthcare
		</h1>
		<p>Exploring the impact of data and digital tools on the healthcare experience</p>
	</div>
</header>

<section class="sign-up">
	<div class="container">
		<div class="grid-gen">
			<div class="info">
				<p><i class="icon ion-checkmark"></i>Big data in healthcare holds the promise of seamless healthcare delivery, bringing the right information and insights to the consumer when they need it. As the landscape continues to change, industry participants should consider the following areas of opportunity in their engagement strategies: Physician-patient interactions, health monitoring with wearables, and preventive and predictive health.</p>
<!-- 				<p><i class="icon ion-checkmark"></i>How do we provide increasingly effortless access to private information while ensuring near-absolute security?</p>
				<p><i class="icon ion-checkmark"></i>How do we make banking feel human while integrating advanced automation?</p> -->
			</div>
			<aside>
				<form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
				      action="https://mudai.wufoo.com/forms/m1bakrtf0vdwt56/#public">
					<ul>
						<li id="foli1" class="notranslate      ">
							<input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required placeholder="Name"/>
						</li>
						<li id="foli4" class="notranslate      ">
							<input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup=""       required placeholder="Company"/>
						</li>
						<li id="foli5" class="notranslate      ">
							<input id="Field5" name="Field5" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       required placeholder="Email"/>
						</li>
						<li id="foli6" class="phone notranslate      ">
							<span>
								<input id="Field6" name="Field6" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="4" placeholder="###" />
							</span>
							<span>
								<input id="Field6-1" name="Field6-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="5" placeholder="###"/>
								</span>
								<span>
									 <input id="Field6-2" name="Field6-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="6" placeholder="####"/>
							</span>
						</li>
						<li class="buttons ">
							<input id="saveForm" name="saveForm" class="btTxt submit btn" type="submit" value="Download Now"/>

						</li>
						<li class="hide">
							<label for="comment">Do Not Fill This Out</label>
							<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
							<input type="hidden" id="idstamp" name="idstamp" value="A3D+uwPsh+fnmU+muzSfLaOfJRBlmlDPOC2BFYJr1fY=" />
						</li>
					</ul>
				</form>
			</aside>
		</div>
	</div>
</section>