<article class="feature main-feature">
	<div class="title main-title">
		<h1>We uncover, assemble and advance innovative ideas through design.</h1>
		<p>(We also make mobile apps and stuff.)</p>
	</div>
</article>

<section class="content">
	<div class="grid">
		<a href="salesforce.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/salesforce/Salesforce-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Salesforce.org</h2>
				<h3>Combating Piracy in<br>
					Global Fisheries<br>
				</h3>
			</div>
		</a>

		<a href="https://uxmag.com/articles/connecting-your-tools-with-the-user-experience" class="grid-item social" target="blank">
			<div class="item-text">
				<i class="icon ion-ios-paper-outline"></i>
				<h3>Shanon Marks in UX Mag: <br>
				Connecting Your Tools <br>
				With the User Experience
				</h3>
			</div>
		</a>

		<a class="grid-item white-paper grid-item-tall" href="vr.html">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>Virtually There:<br>
					The Application of<br>
					Practical Virtual Reality
				</h3>
			</div>
			<div class="btn">Learn More</div>
		</a>

		<a href="http://www.marketwired.com/press-release/-2101260.htm" class="grid-item grid-item-grande has-item-bg press-release" target="blank">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/outlook/steven_tile.png" class="item-bg">
			<div class="item-text">
				<h3>New Leadership, <br>New Growth: Steven Spieczny joins <br>MU/DAI</h3>
			</div>
			<div class="btn">Read</div>
		</a>

		<a href="https://twitter.com/mudaidesign/status/692396694722469892" class="grid-item social" target="blank">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>
					Forrester Features<br>
					MU/DAI in Latest <br>
					Service Design <br>
					Agency Overview
				</h3>
			</div>
		</a>

		<a class="grid-item white-paper grid-item-tall" href="currency.html">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>The Future of<br>
					Currency:<br>
					Financial Experience<br>
					Products
				</h3>
			</div>
			<div class="btn">Learn More</div>
		</a>

		<a href="ama-succeeding.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/ama-succeeding/AMA-Succeeding-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>AMA</h2>
				<h3>Reimagining Medical Career Planning
				</h3>
			</div>
		</a>

		<a href="allstate.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/allstate/Allstate-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Allstate</h2>
				<h3>Transforming Business Through Virtual Collaboration
				</h3>
			</div>
		</a>

		<a href="https://www.10000ft.com/blog/two-beers-with-10-000ft-mu-dai" class="grid-item social" target="blank">
			<div class="item-text">
				<i class="icon ion-ios-paper-outline"></i>
				<h3>Two Beers With MU/DAI and 10,000ft</h3>
			</div>
		</a>

		<a href="gem.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/gem/GEM-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>GEM Shopping Network</h2>
				<h3>Enhancing <br>E-Commerce for Maximum Impact
				</h3>
			</div>
		</a>

		<a href="https://vimeo.com/139688157" class="grid-item grid-item-grande has-item-bg vimeo" target="blank">
			<img src="images/outlook/intership.jpg" class="item-bg">
			<div class="item-text">
				<h3>Experience Life<br>
					With MU/DAI
				</h3>
			</div>
			<div class="btn">Watch</div>
		</a>

		<a class="grid-item white-paper grid-item-tall" href="healthcare.html">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>Practical Innovation<br>
					in Healthcare
				</h3>
			</div>
			<div class="btn">Learn More</div>
		</a>

<!-- 		<a href="https://vimeo.com/135394869" class="grid-item grid-item-grande has-item-bg vimeo" target="blank">
			<img src="images/outlook/30sec-tile.jpg" class="item-bg">
			<div class="item-text">
				<h3>3 Days in 30 Seconds<br>
					at MU/DAI
				</h3>
			</div>
			<div class="btn">Watch</div>
		</a> -->


	</div> <!-- grid -->
</section>
