<article class="feature main-feature">
	<div class="title main-title">
		<h1>We create experiences for wherever they happen.</h1>
		<p>Our work spans web, mobile, wearables, sensibles, emerging technology and whatever comes next.</p>
	</div>
</article>

<section class="content">
	<div class="grid">

		<a href="https://mudai.wufoo.com/forms/zcpdlr1wiba9u/" class="grid-item white-paper">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>The Future of<br>
					Currency:<br>
					Financial Experience<br>
					Products
				</h3>
				<!-- <button class="btn">Download</button> -->
			</div>
		</a>

		<a href="clayco.html" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/ACW/Thumbnail_ACW.jpg">
			</div>
			<div class="box item-text">
				<h2>Clayco</h2>
				<h3>Transforming<br>
					Construction through<br>
					Data-Driven Design
				</h3>
			</div>
		</a>

		<a href="woc.html" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/WOC/Golfer_Squre.jpg">
			</div>
			<div class="box item-text">
				<h2>Women on Course</h2>
				<h3>Workshops that<br>
					Work Hard
				</h3>
			</div>
		</a>

		<a href="xcor.html" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/XCOR/XCOR-Hero-shot.jpg">
			</div>
			<div class="box item-text">
				<h2>XCOR</h2>
				<h3>One giant leap<br>
					towards practical
				</h3>
			</div>
		</a>

		<a href="https://twitter.com/mudaidesign/status/628008682698186752" class="grid-item social">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>How to be more<br>
					Innovative in 21st<br>
					Century Learning
				</h3>
			</div>
		</a>

		<a href="insite.html" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/INSITE/INSITE_00.jpg">
			</div>
			<div class="box item-text">
				<!-- <img src="images/dash.svg" class="item-icon svg"> -->
				<h2>INSITE</h2>
				<h3>Blending Digital<br>
					and Real World<br>
					Behavior
				</h3>
			</div>
		</a>

		<a href="https://www.linkedin.com/pulse/move-faster-break-more-shanon-marks?trk=prof-post" class="grid-item social">
			<div class="item-text">
				<i class="icon ion-social-linkedin"></i>
				<h3>Move Faster.<br>
					Break More.<br>
				</h3>
			</div>
		</a>

		<a href="https://mudai.wufoo.com/forms/m1bakrtf0vdwt56/" class="grid-item white-paper">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>Practical Innovation<br>
					in Healthcare
				</h3>
			</div>
		</a>

		<a href="https://vimeo.com/135394869" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/photos/Timlapse-Tile.jpg">
			</div>
			<div class="box item-text">
				<i class="icon ion-ios-videocam"></i>
				<h3>3 Days in 30 Seconds<br>
					in the MU/DAI<br>
					Innovation Lab
				</h3>
			</div>
		</a>

	</div>
</section>