<article class="feature">
	<div class="title">
		<h2>We create experiences for wherever they happen</h2>
		<p>From the cockpit of an experimental rocket, to the back of your seat in 8A, to wearable tech for construction workers— your tablet, your phone and whatever comes next.</p>
	</div>
</article>

<article class="content">
	<div class="grid">

		<a href="#" class="grid-item white-paper">
			<div class="item-text">
				<img src="images/white-paper.svg" class="item-icon svg">
				<h3>The Future of<br>
					Currency:<br>
					Financial Experience<br>
					Products
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item grid-item--width2 case-study">
			<div class="box">
				<img src="images/ACW/ACW-Hero-Shot.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>ACW</h2>
				<h3>Transforming<br>
					construction through<br>
					data-driven design
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/XCOR/XCOR-Hero-shot.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>XCOR</h2>
				<h3>One giant leap<br>
					towards practical
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item grid-item--width2 case-study">
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>Women on Course</h2>
				<h3>Finding<br>
					your Swing
				</h3>
			</div>
			<div class="box">
				<img src="images/WOC/Golfer_Squre.jpg">
			</div>
		</a>

		<a href="#" class="grid-item social">
			<div class="item-text">
				<img src="images/twitter-bird.svg" class="item-icon svg">
				<h3>How to be more<br>
					Innovative in 21st<br>
					Century Learning
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/INSITE/INSITE_00.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>INSITE</h2>
				<h3>Blending Digital<br>
					and Real World<br>
					Behavior
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item social">
			<div class="item-text">
				<img src="images/linkedin.svg" class="item-icon svg">
				<h3>Move Faster.<br>
					Break More.<br>
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item white-paper">
			<div class="item-text">
				<img src="images/white-paper.svg" class="item-icon svg">
				<h3>Practical Innovation<br>
					in Healthcare
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item grid-item--width2">
			<div class="box"></div>
			<div class="box"></div>
		</a>


	</div>
</article>