---
title: "INSITE | MU/DAI"
---

<article class="feature featured-case insite">
	<div class="title shade">
		<h1 class="main-title">INSITE</h1>
		<h2>INSITE</h2>
		<p>Blending Digital and Physical Behavior</p>
	</div>
</article>

<article class="content">
	<div class="grid">
		<div class="grid-item grid-item--width2-height2 case-study">
			<div class="item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<p>
					Insite Software is a leading provider of B2B eCommerce for manufacturers and distributors. The company’s product platform connects online and offline experiences to drive more and better business outcomes.
				</p>
				<p>
					Insite Software asked MU/DAI to concept new ways to experience and communicate the value of its platform for the event space and physical marketing.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/INSITE/INSITE_00.jpg" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/INSITE/Kinect_Sketch.PNG" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/INSITE/Lab.png" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2-height2">
			<div class="item-text">
				<p>
					MU/DAI’s creative technologists applied machine vision to this project. By leveraging Microsoft’s Kinnect platform, we reduced risk and cost, while creating a real-world analytics platform to communicate point-cloud data and motion through color, form and depth.
				</p>
				<p>
					The results were impressive. An immersive and responsive spatial computing experience that grabs the attention of anyone who walks by, quickly showing how Insite Software blends digital and physical behavior and experience to drive better business outcomes.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/INSITE/Mckormick.png" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-height-full has-item-bg insite-banner">
			<img src="images/INSITE/Screen.png" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-full">
			<div class="item-text">
				<p>Our approach takes full advantage of human sensory capabilities. It creates an experience connected on multiple levels. The Kinnect platform lent our idea exactly what it needed – the machine vision to translate physical behavior in the event space into data-driven analytics. </p>
			</div>
		</div>

	</div>
</article>