---
title: "INSITE | MU/DAI"
---

<header class="feature featured-case insite">
	<div class="title shade">
		<h1>INSITE</h1>
		<p>Blending Digital and Physical Behavior</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Insite Software is a leading provider of B2B eCommerce for manufacturers and distributors. The company’s product platform connects online and offline experiences to drive better business outcomes.
		<br><br>
		Insite Software asked MU/DAI to concept new ways to experience and communicate the value of its platform for the event space and physical marketing.
	</p>

	<div class="grid-gen grid-pad banner">
		<div class="col-1-3">
			<img src="images/INSITE/Kinect_Sketch.PNG" alt="Kinect prototype">
		</div>
		<div class="col-1-3">
			<img src="images/INSITE/Lab.png" alt="Testing environment">
		</div>
		<div class="col-1-3">
			<img src="images/INSITE/Mckormick.png" alt="In production use at a conference">
		</div>
	</div>

	<p>
		MU/DAI’s creative technologists applied machine vision to this project. By leveraging Microsoft’s Kinect platform, we reduced risk and cost while creating a real-world analytics platform to communicate point-cloud data and motion through color, form and depth.
		<br><br>
		The results were impressive: an immersive and responsive spatial computing experience that grabs the attention of anyone who walks by, quickly showing how Insite Software blends digital and physical behavior and experience to drive better business outcomes.
	</p>

	<div class="banner">
		<img src="images/INSITE/Screen.png" alt="sample demonstration">
	</div>

	<p>Our approach takes full advantage of human sensory capabilities. It creates an experience connected on multiple levels. The Kinect platform lent our idea exactly what it needed – the machine vision to translate physical behavior in the event space into data-driven analytics.</p>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Workshops that Work Hard</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/WOC/Thumnail_WOC.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/ACW/Thumbnail_ACW.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="xcor.html" class="story-card">
			<div class="copy">
				<h4>XCOR</h4>
				<h3>One Giant Leap towards Practical</h3>
				<p>MU/DAI was asked to help craft their story through the development of digital and physical brand experiences that communicate the importance of their mission and the opportunity we each have in shaping it.</p>
			</div>
			<div class="asset">
				<img src="images/XCOR/Thumbnails_Xcor.jpg">
			</div>
		</a>
	</article>

</section>