---
title: "Outlook | MU/DAI"
---

<h1 class="page-title">Outlook</h1>

<article class="content">
	<div class="grid">
		<a href="https://www.linkedin.com/pulse/blurring-line-between-physical-digital-experience-shanon-marks" class="grid-item grid-item-square social">
			<div class="item-text">
				<i class="icon ion-social-linkedin"></i>
				<h3>Blurring the line<br>
					Between<br>
					Physical and<br>
					Digital Experience
				</h3>
			</div>
		</a>

		<a href="https://instagram.com/p/6FkQarAijX/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square">
			<img src="images/outlook/battery-case.jpg" class="item-bg" alt="3D printed battery case">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>The perfect battery<br>
					case. Brittany's First<br>
					3d Print
				</h3>
			</div>
		</a>

		<div class="grid-item grid-item-square">
			<img src="images/outlook/river.gif" class="item-bg" alt="Timelapse of Chicago river">
		</div>

		<a href="https://instagram.com/p/6FjwMUAiiL/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square">
			<img src="images/outlook/weather.jpg" class="item-bg" alt="Weather dashboard">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Our first piece of<br>
					hardware is<br>
					collecting data on a construction site
				</h3>
			</div>
		</a>

		<a class="grid-item vimeo grid-item-square has-item-bg" href="https://vimeo.com/135394869">
			<img src="images/outlook/30sec-tile-color.jpg" class="item-bg" alt="photo of MU/DAI offices">
			<div class="item-text shade">
				<h3>3 Days in 30 Seconds<br>
					in the MU/DAI<br>
					Innovation Lab
				</h3>
			</div>
			<div class="btn">Watch</div>
		</a>

		<div class="grid-item grid-item-square">
			<img src="images/outlook/kitchen.gif" class="item-bg" alt="Animated gif of people working in MU/DAI offices">
		</div>

		<a href="https://twitter.com/mudaidesign/status/628008682698186752" class="grid-item social grid-item-square">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>How to be more<br>
					Innovative in 21st<br>
					Century Learning
				</h3>
			</div>
		</a>

		<div class="grid-item grid-item-square has-item-bg">
			<div class="box">
				<img src="images/outlook/google-glass.gif" class="item-bg" alt="Someone using Google Glass">
			</div>
		</div>

		<a href="https://instagram.com/p/6Fp-BWgiv6/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square">
			<img src="images/outlook/maria.jpg" class="item-bg" alt="3D printed logo ring">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Boom!<br>
					Maria and Makerbot
				</h3>
			</div>
		</a>

		<a href="https://instagram.com/p/6FqGa5AigI/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square">
			<img src="images/outlook/ferro-laura.jpg" class="item-bg" alt="Staff on construction site">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Ferro and Laura<br>
					in field research
				</h3>
			</div>
		</a>

		<div class="grid-item grid-item-square">
			<img src="images/outlook/makerbot.gif" class="item-bg" alt="Animated gif of makerbot printing">
		</div>

		<a href="https://twitter.com/Entrepreneur/status/624568618450296833" class="grid-item social grid-item-square">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>4 Things Truly<br>
					Innovative Startups<br>
					Never Do
				</h3>
			</div>
		</a>

		<a href="https://twitter.com/mudaidesign/status/624048823929847808" class="grid-item social grid-item-square">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>This Clock Doesn't<br>
					Just Tell You The<br>
					Time, It Makes You<br>
					Work For It
				</h3>
			</div>
		</a>

	</div>
</article>