---
title: "Outlook | MU/DAI"
---

<h1>Outlook</h1>

<article class="content">
	<div class="grid">
		<a href="#" class="grid-item social">
			<div class="item-text">
				<img src="images/linkedin.svg" class="item-icon svg">
				<h3>Blurring the line<br>
					Between<br>
					Physical and<br>
					Digital Experience
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item has-item-bg instagram">
			<div class="item-text">
				<img src="images/linkedin.svg" class="item-icon svg">
				<img src="images/photos/battery-case.jpg" class="item-bg">
				<h3>Blurring the line<br>
					Between<br>
					Physical and<br>
					Digital Experience
				</h3>
			</div>
		</a>

		<div href="#" class="grid-item">
			<img src="images/photos/River.gif" class="item-bg">
		</div>

		<a href="#" class="grid-item grid-item--height2 case-study has-item-bg">
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h3>Our first piece of<br>
					hardware is<br>
					collecting data on a construction site
				</h3>
			</div>
			<div class="box">
				<img src="images/photos/Weather-Data.jpg" class="item-bg">
			</div>
		</a>

		<a href="#" class="grid-item grid-item--width2 video-tile">
			<div class="box">
				<img src="images/photos/Timlapse-Tile.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h3>3 days in<br>
					MU/DAI<br>
					Innovation Lab
				</h3>
			</div>
		</a>

		<div href="#" class="grid-item">
			<img src="images/photos/Kitchen.gif" class="item-bg">
		</div>

		<a href="#" class="grid-item social">
			<div class="item-text">
				<img src="images/twitter-bird.svg" class="item-icon svg">
				<h3>How to be more<br>
					Innovative in 21st<br>
					Century Learning
				</h3>
			</div>
		</a>

		<div href="#" class="grid-item grid-item--width2 has-item-bg">
			<div class="box">
				<img src="images/photos/Google-glass.gif" class="item-bg">
			</div>
		</div>

		<a href="#" class="grid-item has-item-bg instagram">
			<div class="item-text">
				<img src="images/linkedin.svg" class="item-icon svg">
				<img src="images/photos/Maria.jpg" class="item-bg">
				<h3>Boom!<br>
					Maria and Makerbot
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item has-item-bg instagram">
			<div class="item-text">
				<img src="images/linkedin.svg" class="item-icon svg">
				<img src="images/photos/Ferro_Laura.jpg" class="item-bg">
				<h3>Ferro and Laura<br>
					in field research
				</h3>
			</div>
		</a>

		<div href="#" class="grid-item">
			<img src="images/photos/" class="item-bg">
		</div>

		<a href="#" class="grid-item social">
			<div class="item-text">
				<img src="images/twitter-bird.svg" class="item-icon svg">
				<h3>4 Things Truly<br>
					Innovative Startups<br>
					Never Do
				</h3>
			</div>
		</a>

		<a href="#" class="grid-item social">
			<div class="item-text">
				<img src="images/twitter-bird.svg" class="item-icon svg">
				<h3>This Clock Doesn't<br>
					Just Tell You The<br>
					Time, It Makes You<br>
					Work For It
				</h3>
			</div>
		</a>

	</div>
</article>