---
title: "Outlook | MU/DAI"
---

<h1 class="page-title">Outlook</h1>

<article class="content">
	<div class="grid">

		<a href="https://twitter.com/mudaidesign/status/692396694722469892" class="grid-item grid-item-square social" target="blank">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>
					Forrester Features<br>
					MU/DAI in Latest <br>
					Service Design <br>
					Agency Overview
				</h3>
			</div>
		</a>

		<a class="grid-item vimeo grid-item-square has-item-bg" href="https://www.salesforce.com/video/183658/" target="blank">
			<img src="images/outlook/mazu.jpg" class="item-bg" alt="Clip from video">
			<div class="item-text shade">
				<h3>Partnering With Salesforce to Prevent Illegal Fishing
				</h3>
			</div>
			<div class="btn">Watch</div>
		</a>

		<a href="https://www.10000ft.com/blog/two-beers-with-10-000ft-mu-dai" class="grid-item grid-item-square social" target="blank">
			<div class="item-text">
				<i class="icon ion-ios-paper-outline"></i>
				<h3>Two Beers With MU/DAI and 10,000ft</h3>
			</div>
		</a>

		<a href="https://uxmag.com/articles/connecting-your-tools-with-the-user-experience" class="grid-item grid-item-square social" target="blank">
			<div class="item-text">
				<i class="icon ion-ios-paper-outline"></i>
				<h3>Shanon Marks in UX Mag: <br>
				Connecting Your Tools <br>
				With the User Experience
				</h3>
			</div>
		</a>

		<a href="https://instagram.com/p/6FkQarAijX/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square" target="blank">
			<img src="images/outlook/battery-case.jpg" class="item-bg" alt="3D printed battery case">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Brittany’s First 3D Print: The Perfect Battery Case
				</h3>
			</div>
		</a>

		<a href="https://www.linkedin.com/pulse/blurring-line-between-physical-digital-experience-shanon-marks" class="grid-item grid-item-square social" target="blank">
			<div class="item-text">
				<i class="icon ion-social-linkedin"></i>
				<h3>Blurring the Lines Between Digital and Physical
				</h3>
			</div>
		</a>

		<div class="grid-item grid-item-square">
			<img src="images/outlook/river.gif" class="item-bg" alt="Timelapse of Chicago river">
		</div>

<!-- 		<a href="https://instagram.com/p/6FjwMUAiiL/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square" target="blank">
			<img src="images/outlook/weather.jpg" class="item-bg" alt="Weather dashboard">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Our first piece of<br>
					hardware is<br>
					collecting data on a construction site
				</h3>
			</div>
		</a> -->

		<a class="grid-item vimeo grid-item-square has-item-bg" href="https://vimeo.com/135394869" target="blank">
			<img src="images/outlook/30sec-square.jpg" class="item-bg" alt="photo of MU/DAI offices">
			<div class="item-text shade">
				<h3>Three Days in 30 Seconds in the MU/DAI Innovation Lab
				</h3>
			</div>
			<div class="btn">Watch</div>
		</a>

		<div class="grid-item grid-item-square">
			<img src="images/outlook/kitchen.gif" class="item-bg" alt="Animated gif of people working in MU/DAI offices">
		</div>

		<div class="grid-item grid-item-square has-item-bg">
			<div class="box">
				<img src="images/outlook/google-glass.gif" class="item-bg" alt="Someone using Google Glass">
			</div>
		</div>

		<a href="https://instagram.com/p/6Fp-BWgiv6/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square" target="blank">
			<img src="images/outlook/maria.jpg" class="item-bg" alt="3D printed logo ring">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Boom! Maria Gets Tough With Makerbot
				</h3>
			</div>
		</a>

		<a href="https://instagram.com/p/6FqGa5AigI/?taken-by=mudaidesign" class="grid-item has-item-bg grid-item-square" target="blank">
			<img src="images/outlook/ferro-laura.jpg" class="item-bg" alt="Staff on construction site">
			<div class="item-text shade">
				<i class="icon ion-social-instagram-outline"></i>
				<h3>Conducting Field Research for Construction IoT
				</h3>
			</div>
		</a>

		<div class="grid-item grid-item-square">
			<img src="images/outlook/makerbot.gif" class="item-bg" alt="Animated gif of makerbot printing">
		</div>

		<a href="https://twitter.com/Entrepreneur/status/624568618450296833" class="grid-item social grid-item-square" target="blank">
			<div class="item-text">
				<i class="icon ion-social-twitter"></i>
				<h3>Four Things Truly Innovative Startups Never Do
				</h3>
			</div>
		</a>

	</div>
</article>
