---
title: "Salesforce | MU/DAI"
---

<header class="feature featured-case salesforce">
	<div class="title shade">
		<h1>SALESFORCE FOUNDATION</h1>
		<p>Combating Piracy in Global Fisheries</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Throughout our oceans and ports, the global fishing trade is facing new risks borne out of growing piracy and unregulated poaching. Policing this illegal activity requires new approaches to fleet identification, data-capture and information sharing. The impact of these activities is felt across the globe, affecting political stability and the health of our oceans.
		<br><br>
		The Salesforce Foundation, which sponsors a wide range of global philanthropic efforts, engaged MU/DAI to design and assemble the first functional version of a mobile app to meet this challenge. Powered by the Salesforce platform, our app unites global law enforcement, armed forces and coast guards, resulting in a scalable and highly efficient solution for combating piracy at sea.
	</p>

	<div class="banner">
		<img src="images/salesforce/Salesforce_01.jpg" alt="salesforce flow diagram">
	</div>

	<p>
		MU/DAI drove discovery with both the Salesforce Foundation team and key stakeholders from the University of California at Santa Barbara and the Schmidt Ocean Institute. Initial discovery revealed common challenges faced by both local and global fishing fleets – how to identify, track and share information about rogue vessels that travel into sovereign water and deplete restricted fisheries.
	</p>

	<div class="banner">
		<img src="images/salesforce/Salesforce_02C.jpg" class="Screenshots from mobile app">
	</div>

	<p>
		Through design research, MU/DAI built an understanding of potential core users and ecosystem participants. This included more traditional investigations of user environments as well as pre-prototyping to test early approaches to sequence. We asked: Was the experience fast and easy enough for a local fisherman to use, but deep enough to draw out critical data for the wider ecosystem?
	</p>

	<div class="banner video-banner">
		<iframe width="1080" height="608" src="https://www.youtube.com/embed/cIEfVBThkqk" frameborder="0" allowfullscreen></iframe>
	</div>

	<p>
		We then turned to Salesforce to unlock critical platform capabilities as the backbone of the connected experience. MU/DAI assessed components such as image recognition, marine traffic databases and machine learning, integrating these into the user experience to create a simple but powerful workflow.</p>
</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/clayco/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="allstate.html" class="story-card">
			<div class="copy">
				<h4>Allstate</h4>
				<h3>Transforming Business Through Virtual Collaboration</h3>
				<p>Allstate asked MU/DAI to help them discover how virtual collaboration technology could transform their insurance claims and life and retirement services businesses.</p>
			</div>
			<div class="asset">
				<img src="images/allstate/Allstate-Link.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real-World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/insite/thumbnail.jpg">
			</div>
		</a>
	</article>

</section>