<h1>Space</h1>

<article class="content">
	<div class="grid">
		<div class="grid-item grid-item--width-full item-space">
			<div class="box-a text">
				<h3>Test</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="box-b video-embed">
				<div class="responsive-container">
					<iframe src="https://player.vimeo.com/video/135394869" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="grid-item grid-item--width-full item-space grid-middle">
			<div class="box-b text">
				<h3>Test</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="box-a video-embed">
				<div class="responsive-container">
					<iframe src="https://player.vimeo.com/video/135394869" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="grid-item grid-item--width-full item-space">
			<div class="box-a text">
				<h3>Test</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
			<div class="box-b video-embed">
				<div class="responsive-container">
					<iframe src="https://player.vimeo.com/video/135394869" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</article>