---
title: "Women On Course | MU/DAI"
---

<header class="feature featured-case woc">
	<div class="title shade">
		<h1>Women On Course</h1>
		<p>Workshops that Work Hard</p>
	</div>
</header>

<article class="content case-study">
	<p>
		Women On Course provides an accessible introduction to golf, combined with business networking opportunities for women. The company is founded on the belief that community, acceptance and fun are the basis of successful golf instruction. This strategy blends course-play and networking events to create an extended experience that keeps players involved and engaged.
		<br><br>
		Women On Course gave MU/DAI the opportunity to create a digital experience that focuses on attracting new players while engaging the existing membership community.
	</p>

	<div class="grid-gen grid-pad banner">
		<div class="col-1-3">
			<img src="images/woc/01_case.jpg" alt="Woman swing golf club">
		</div>

		<div class="col-1-3">
			<img src="images/woc/02_case.jpg" alt="photo of women on course workshop in progress">
		</div>

		<div class="col-1-3">
			<img src="images/woc/03_case.jpg" alt="photo of brand workshop">
		</div>
	</div>

	<p>
		As part of our process, we rely on collaborative and inclusive ideation. Our “co-design” approach includes working with our clients to gather ideas and insights as quickly as possible. This places the client in the midst of the design activities, with a real role in the development of the solution.
		<br><br>
		Kimberly Cayce, the CMO of Women On Course, worked with us to tailor a series of workshop activities for her and her team. We focused on two key areas of the Women On Course experience: existing strengths that drive membership and extending the reach of educational content through digital experience design.
	</p>

	<div class="banner">
		<img src="images/woc/04_case.jpg" alt="photo of branch workshop in progress">
	</div>

	<p>
		Our day-long workshop generated a wealth of insights and ideas, all leading to projects that will build significant value for the Women On Course brand and experience. Our findings are reshaping the brand language through customer experiences on and off the course. We designed revised typographic, color, and image palettes, along with brand tone and an enhanced responsive website that will drive new member acquisition while serving existing members more effectively.
	</p>

	<div class="banner end-cap">
		<img src="images/woc/05_case.jpg" alt="terms best used to describe their brand">
	</div>

</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/clayco/thumbnail.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="xcor.html" class="story-card">
			<div class="copy">
				<h4>XCOR</h4>
				<h3>One Giant Leap towards Practical</h3>
				<p>MU/DAI was asked to help craft their story through the development of digital and physical brand experiences that communicate the importance of their mission and the opportunity we each have in shaping it.</p>
			</div>
			<div class="asset">
				<img src="images/xcor/thumbnail.jpg">
			</div>
		</a>
	</article>


	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/insite/thumbnail.jpg">
			</div>
		</a>
	</article>

</section>