---
title: "Work | MU/DAI"
---

<h1 class="page-title">Work</h1>

<article class="content">
	<div class="grid">
		<div class="grid-item white-paper grid-item-tall">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>The Future of<br>
					Currency:<br>
					Financial Experience<br>
					Products
				</h3>
			</div>
			<a class="btn" href="https://mudai.wufoo.com/forms/zcpdlr1wiba9u/">Download</a>
		</div>

		<a href="clayco.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/Arrow.svg" class="svg">
			<img src="images/ACW/Clayco-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Clayco</h2>
				<h3>Transforming<br>
					Construction through<br>
					Data-Driven Design
				</h3>
			</div>
		</a>

		<a href="xcor.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/Arrow.svg" class="svg">
			<img src="images/XCOR/XCOR-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>XCOR</h2>
				<h3>One giant leap<br>
					towards practical
				</h3>
			</div>
		</a>

		<a href="woc.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/Arrow.svg" class="svg">
			<img src="images/WOC/WOC_Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Women on Course</h2>
				<h3>Workshops that<br>
					Work Hard
				</h3>
			</div>
		</a>

		<a href="insite.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/Arrow.svg" class="svg">
			<img src="images/INSITE/INSITE_Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>INSITE</h2>
				<h3>Blending Digital<br>
					and Real World<br>
					Behavior
				</h3>
			</div>
		</a>

		<div class="grid-item white-paper grid-item-tall">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>Practical Innovation<br>
					in Healthcare
				</h3>
			</div>
			<a class="btn" href="https://mudai.wufoo.com/forms/m1bakrtf0vdwt56/">Download</a>
		</div>

	</div>
</article>