---
title: "Work | MU/DAI"
---

<h1>Work</h1>

<article class="content">
	<div class="grid">
		<a href="https://mudai.wufoo.com/forms/zcpdlr1wiba9u/" class="grid-item white-paper">
			<div class="item-text">
				<img src="images/white-paper.svg" class="item-icon svg">
				<h3>The Future of<br>
					Currency:<br>
					Financial Experience<br>
					Products
				</h3>
			</div>
		</a>

		<a href="clayco.html" class="grid-item grid-item--width2 case-study">
			<div class="box">
				<img src="images/ACW/ACW-Hero-Shot.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>Clayco</h2>
				<h3>Transforming<br>
					construction through<br>
					data-driven design
				</h3>
			</div>
		</a>

		<a href="xcor.html" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/XCOR/XCOR-Hero-shot.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>XCOR</h2>
				<h3>One giant leap<br>
					towards practical
				</h3>
			</div>
		</a>

		<a href="woc.html" class="grid-item grid-item--width2 case-study">
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>Women on Course</h2>
				<h3>Finding<br>
					your Swing
				</h3>
			</div>
			<div class="box">
				<img src="images/WOC/Golfer_Squre.jpg">
			</div>
		</a>

		<a href="insite.html" class="grid-item grid-item--height2 case-study">
			<div class="box">
				<img src="images/INSITE/INSITE_00.jpg">
			</div>
			<div class="box item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<h2>INSITE</h2>
				<h3>Blending Digital<br>
					and Real World<br>
					Behavior
				</h3>
			</div>
		</a>

		<a href="https://mudai.wufoo.com/forms/m1bakrtf0vdwt56/" class="grid-item white-paper">
			<div class="item-text">
				<img src="images/white-paper.svg" class="item-icon svg">
				<h3>Practical Innovation<br>
					in Healthcare
				</h3>
			</div>
		</a>

	</div>
</article>