---
title: "Work | MU/DAI"
---

<h1 class="page-title">Work</h1>

<article class="content">
	<div class="grid">
		<a href="salesforce.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/salesforce/Salesforce-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Salesforce Foundation</h2>
				<h3>Combatting Piracy in<br>
					Global Fisheries<br>
				</h3>
			</div>
		</a>

		<a class="grid-item white-paper grid-item-tall" href="vr.html">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>Virtually There:<br>
					The Application of<br>
					Practical Virtual Reality
				</h3>
			</div>
			<div class="btn">Learn More</div>
		</a>

		<a href="allstate.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/allstate/Allstate-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Allstate</h2>
				<h3>Transforming Business Through Virtual Collaboration
				</h3>
			</div>
		</a>

		<a href="ama-succeeding.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/ama-succeeding/AMA-Succeeding-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>AMA</h2>
				<h3>Reimagining Medical Career Planning
				</h3>
			</div>
		</a>

		<a href="gem.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/gem/GEM-Tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>GEM Shopping Network</h2>
				<h3>Redesigning<br>
					E-Commerce in a<br>
					High Impact Brand
				</h3>
			</div>
		</a>

		<a class="grid-item white-paper grid-item-tall" href="currency.html">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>The Future of<br>
					Currency:<br>
					Financial Experience<br>
					Products
				</h3>
			</div>
			<div class="btn">Learn More</div>
		</a>

		<a href="clayco.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/clayco/tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Clayco</h2>
				<h3>Transforming<br>
					Construction Through<br>
					Data-Driven Design
				</h3>
			</div>
		</a>

		<a href="xcor.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/xcor/tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>XCOR</h2>
				<h3>Taking One Giant <br>Leap in Brand Storytelling
				</h3>
			</div>
		</a>

		<a class="grid-item white-paper grid-item-tall" href="healthcare.html">
			<div class="item-text">
				<i class="icon ion-document"></i>
				<h3>Practical Innovation<br>
					in Healthcare
				</h3>
			</div>
			<div class="btn">Learn More</div>
		</a>

		<a href="woc.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/woc/tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>Women on Course</h2>
				<h3>Driving Results <br>
				Through Design Collaboration
				</h3>
			</div>
		</a>

		<a href="insite.html" class="grid-item grid-item-grande case-study has-item-bg">
			<img src="images/base/arrow.svg" class="svg">
			<img src="images/insite/tile.jpg" class="item-bg">
			<div class="item-text">
				<h2>INSITE</h2>
				<h3>Blending Digital<br>
					and Real-World<br>
					Behavior
				</h3>
			</div>
		</a>
	</div>
</article>

<article class="client-roster">
	<img src="images/base/logo-line-up_01.png" alt="A list of clients we have worked with, including Allstate, Salesforce, AMA and others.">
</article>