---
title: "XCOR | MU/DAI"
---

<article class="feature featured-case xcor">
	<div class="title">
		<h1>XCOR</h1>
		<p>One Giant Leap Towards Practical</p>
	</div>
</article>

<article class="content case-study">
	<p>
		XCOR Aerospace brings practicality and cost efficiency to American spaceflight. Its engines have been redefining rocketry for more than a decade. The company is guided by an innovative approach to propulsion and the indomitable spirit of exploration and invention.
		<br><br>
		XCOR asked MU/DAI to help craft its story through digital and physical brand experiences that communicate the importance and inclusivity of its mission. In essence, we needed to create an authentic and resonant brand identity for XCOR – one that positions the company where it belongs: in the forefront of American consciousness.
	</p>

	<div class="banner">
		<img src="images/XCOR/Brochure.jpg" alt="xcor brochure">
	</div>

	<p>
		Our work began at the Mojave Spaceport, interviewing scientists and engineers. To thoughtfully articulate this brand, we needed to understand XCOR’s approach to space travel, as well as its philosophy, technology and audience.
		<br><br>
		Our designers pored over existing research while conducting field research, image studies, mood boards, wireframes and motion experiments. We were surprised by our findings. We realized XCOR needed an entirely new kind of experiential lens to share the uniqueness of spaceflight.
	</p>

	<div class="grid-gen grid-pad">
		<div class="col-1-3">
			<img src="images/XCOR/Tshirts2.jpg" alt="xcor branded t-shirts">
		</div>
		<div class="col-1-3">
			<img src="images/XCOR/Branding.jpg" alt="xcor brochure">
		</div>
		<div class="col-1-3">
			<img src="images/XCOR/Microsite.jpg" alt="static xcore webpage">
		</div>
	</div>

	<div class="banner">
		<img src="images/XCOR/Oculus.jpg" class="Oculus Rift with Xcore flight simulation">
	</div>

	<p>We incorporated virtual reality as this lens. In space travel, virtual reality becomes an incredibly practical tool. Space flight simulators are large, static machines with limited flexibility. Our Oculus Rift VR prototype created an experience that anyone can gain access to with an Internet connection, a PC and a basic VR headset.
	<br><br>
	MU/DAI’s work with XCOR helped lower the barrier to space while increasing awareness of the powerful impact this company has on space travel, our culture and our future.
	</p>


</article>

<section class="next-stories">
	<h2>Other <span class="highlight">Stories</span></h2>

	<article class="story-card-wrapper">
		<a href="insite.html" class="story-card">
			<div class="copy">
				<h4>INSITE</h4>
				<h3>Blending Digital and Real World Behavior</h3>
				<p>MU/DAI was asked to think about new ways to experience and communicate the value of the Insite Software platform for the event space and physical marketing.</p>
			</div>
			<div class="asset">
				<img src="images/INSITE/Thumbnail_INSITE.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="woc.html" class="story-card">
			<div class="copy">
				<h4>Women on Course</h4>
				<h3>Workshops that Work Hard</h3>
				<p>Women On Course gave MU/DAI the opportunity to create a hard-working digital experience, focused on attracting new players while engaging the existing membership community.</p>
			</div>
			<div class="asset">
				<img src="images/WOC/Thumnail_WOC.jpg">
			</div>
		</a>
	</article>

	<article class="story-card-wrapper">
		<a href="clayco.html" class="story-card">
			<div class="copy">
				<h4>Clayco</h4>
				<h3>Transforming Construction through Data-Driven Design</h3>
				<p>MU/DAI was asked to create a pilot program for worker productivity and safety, laying the foundation for a data-driven approach to construction management and planning.</p>
			</div>
			<div class="asset">
				<img src="images/ACW/Thumbnail_ACW.jpg">
			</div>
		</a>
	</article>

</section>