---
title: "XCOR | MU/DAI"
---

<article class="feature featured-case xcor">
	<div class="title">
		<h1 class="main-title">XCOR</h1>
		<h2>XCOR</h2>
		<p>One giant leap towards practical</p>
	</div>
</article>

<article class="content">
	<div class="grid">
		<div class="grid-item grid-item--width2-height2 case-study">
			<div class="item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<p>
					XCOR Aerospace is focused on bringing practicality, lowered cost and increased efficiency to American spaceflight. They are guided by an innovative approach to propulsion and the indomitable spirit of exploration and invention.
				</p>
				<p>
					MU/DAI was asked to help craft their story through the development of digital and physical brand experiences that communicate the importance of their mission and the opportunity we each have in shaping it.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/Microsite.jpg" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/Tshirts2.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-height-full has-item-bg">
			<img src="images/XCOR/Brochure.jpg" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/XCOR-Hero-shot.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2-height2">
			<div class="item-text">
				<h3>Taking us to places we don’t normally go</h3>
				<p>Our work began at the Mojave Spaceport, interviewing scientists, engineers and taking a first step towards understanding XCOR’s approach to space travel. There is a focus on safety and reliability in every part they craft – their engines have been redefining rocketry for over a decade. Creating an authentic and resonant brand required an understanding of their philosophy, technology and audience.</p>
				<p>Our designers poured through existing research while conducting field research, image studies, mood boards, wireframes and motion experiments. Our findings revealed the unexpected - we needed an entirely new kind of experiential lens to share the uniqueness of spaceflight.</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/Branding.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-height-full has-item-bg oculus">
			<img src="images/XCOR/Oculus.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-full">
			<div class="item-text">
				<h3>Shaping a brand with new tools</h3>
				<p>MU/DAI’s work is guided by practical innovation - a belief that great experiences are built with practicality. Virtual reality is a lens to places people don’t normally have access and in the case of space travel an incredibly practical tool. Space flight simulators are large, static machines with limited flexibility. Our Oculus Rift VR prototype created an experience that anyone can gain access to with an internet connection, a PC and a basic VR headset - lowering the barrier to space once more.</p>
			</div>
		</div>

	</div>
</article>