---
title: "XCOR | MU/DAI"
---

<article class="feature featured-case xcor">
	<div class="title">
		<h1>XCOR</h1>
		<p>One giant leap towards practical</p>
	</div>
</article>

<article class="content">
	<div class="grid">
		<div class="grid-item grid-item--width2-height2 case-study">
			<div class="item-text">
				<img src="images/dash.svg" class="item-icon svg">
				<p>
					XCOR Aerospace brings practicality and cost efficiency to American spaceflight. Its engines have been redefining rocketry for more than a decade. The company is guided by an innovative approach to propulsion and the indomitable spirit of exploration and invention.
				</p>
				<p>
					XCOR asked MU/DAI to help craft its story through digital and physical brand experiences that communicate the importance and inclusivity of its mission. In essence, we needed to create an authentic and resonant brand identity for XCOR – one that positions the company where it belongs: in the forefront of American consciousness.
				</p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/Microsite.jpg" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/Tshirts2.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-height-full has-item-bg">
			<img src="images/XCOR/Brochure.jpg" class="item-bg">
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/XCOR-Hero-shot.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width2-height2">
			<div class="item-text">
				<p>Our work began at the Mojave Spaceport, interviewing scientists and engineers. To thoughtfully articulate this brand, we needed to understand XCOR’s approach to space travel, as well as its philosophy, technology and audience.</p>
				<p>Our designers pored through existing research while conducting field research, image studies, mood boards, wireframes and motion experiments. We were surprised by our findings. We realized XCOR needed an entirely new kind of experiential lens to share the uniqueness of spaceflight. </p>
			</div>
		</div>

		<div class="grid-item has-item-bg">
			<img src="images/XCOR/Branding.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-height-full has-item-bg oculus">
			<img src="images/XCOR/Oculus.jpg" class="item-bg">
		</div>

		<div class="grid-item grid-item--width-full">
			<div class="item-text">
				<p>We incorporated virtual reality as this lens. In space travel, virtual reality becomes an incredibly practical tool. Space flight simulators are large, static machines with limited flexibility. Our Oculus Rift VR prototype created an experience that anyone can gain access to with an Internet connection, a PC and a basic VR headset. </p>
				<p>MU/DAI’s work with XCOR helped lower the barrier to space while increasing awareness of the powerful impact this company has on space travel, our culture and our future. </p>
			</div>
		</div>

	</div>
</article>