.case-study {
	&.content {
		background: #fff;
	}

	.banner {
		text-align: center;
	}

	.banner img {
		max-width: 100%;
		display: inline-block;
	}

	p {
		padding: 2em;
		margin: 0;
		font-size: 18px;

		@media all and (min-width: $med-tide) {
			padding: 3em 6em;
			font-size: 20px;
		}
	}

	.end-cap {
		padding-bottom: 80px;
	}

	img, iframe {
		max-width: 100%;
	}
}