.feature {
	// padding: 80px 0;

	.title {
		padding-left: 20px;
		padding-right: 20px;
		color: white;
		margin: 0 auto;

		@media all and (min-width: $med-tide) {
			padding-left: 0;
		}
	}

	.main-title {
		max-width: 830px;
	}

	h1, h2 {
		@extend %reset;
		color: white;
		margin: 0 auto;
	}

	h1 {
		font-size: 2em;
		text-align: left;
		font-weight: 400;
	}

	h2 {
		font-size: 2em;
		font-weight: 300;
	}

	p {
		margin: 0 auto;
		font-size: 1.5em;
		line-height: 1.5em;
		margin-top: 40px;
	}
}

.feature.main-feature {
	background: url(../images/HOMEPAGE.jpg) top center / cover;
	padding: 200px 0;
}

.feature.featured-case {
	text-align: left;
	color: white;
	padding: 160px 0;

	.title {
		text-align: left;
		max-width: 830px;
	}

	h1 {
		font-weight: 500;

		@media all and (min-width: $med-tide) {
			font-size: 1em;
		}
	}

	h2 {
		font-size: 1.5em;
	    @extend %reset;
		font-weight: 400;
	}

	p {
		@extend %reset;
		@include heading-font;
		font-size: 2em;
		color: white;
	}

	h2, p {
		max-width: 1120px;
	    margin: 0 auto;
	}
}

.title.shade {

	h1, p {
		background: rgba(0, 0, 0, .6);
	}

	h1 {
		padding: 20px 20px 0 20px;
	}

	p {
		padding: 0 20px 20px 20px;
	}
}

.featured-case.acw {
	background: url(../images/bg-acw.jpeg) top center / cover;
}

.featured-case.xcor {
	background: url(../images/bg-xcor.jpeg) top center / cover;
}

.featured-case.insite {
	background: url(../images/INSITE/INSITE_04.jpg) top center / cover;
}

.featured-case.woc {
	background: url(../images/WOC/Workshop.jpg) top center / cover;
}

.feature.white-paper {
	background: $action-accent;

	.title {
		padding: 160px 20px 100px;
		max-width: 830px;

		@media all and (min-width: $med-tide) {
		    padding: 170px 0 120px;
		}
	}

	h1 {
		font-weight: 300;
		padding-bottom: 20px;
		border-bottom: 1px solid #fff;
	}

	p {
		font-size: 12px;
		@extend %reset;
		padding-top: 20px;
	}
}