.feature {
	height: 100vh;

	.title {
		padding-left: 20px;
		padding-right: 20px;
		color: white;
		margin: 0 auto;
		padding-top: 40vh;
	}

	h1, h2 {
		max-width: 1120px;
		@extend %reset;
		color: white;
		margin: 0 auto;
	}

	h1 {
		font-size: 2em;
		text-align: left;
		padding: 0;
	}

	h2 {
		font-size: 2em;
		font-weight: 600;

		@media all and (min-width: $med-tide) {
			font-size: 4em;
		}
	}

	p {
		max-width: 1120px;
		margin: 0 auto;
		font-size: 1.5em;
		line-height: 1.5em;
		margin-top: 40px;
		font-weight: 100;
	}
}

.feature.main-feature {
	background: url(/images/HOMEPAGE.jpg) center center / cover;

	.title {
		text-align: center;
	}
}

.feature.featured-case {
	text-align: left;
	color: white;

	.title {
		text-align: left;
	}


	h2 {
		font-weight: 100;
		font-size: 1.5em;
	    @extend %reset;
	}

	p {
		font-weight: 600;
		@extend %reset;
		font-size: 2em;
	}

	h2, p {
		max-width: 1120px;
	    margin: 0 auto;
	}
}

.title.shade {

	h1, p {
		background: rgba(0, 0, 0, .6);
	}

	h1 {
		padding: 20px 20px 0 20px;
	}

	p {
		padding: 0 20px 20px 20px;
	}
}

.featured-case.acw {
	background: url(/images/bg-acw.jpeg) center center / cover;
}

.featured-case.xcor {
	background: url(/images/bg-xcor.jpeg) center center / cover;
}

.featured-case.insite {
	background: url(/images/INSITE/INSITE_04.jpg) center center / cover;
}

.featured-case.woc {
	background: url(/images/WOC/Workshop.jpg) center center / cover;
}