footer {
	text-align: center;
	color: #fff;

	h3 {
		color: #fff;
		@extend %reset;

		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;

		&:after {
			content: "";
			width: 40px;
			height: 2px;
			background: #fff;
			display: block;
			margin: 0 auto;
			margin-top: 10px;
		}
	}

	a {
		color: #fff;

		&:hover, &:active, &:focus {
			color: #fff;
		}
	}

	.locations {
		@extend %clearfix;
		// background: $base-bg;
		background: #1b1c21;
		margin-top: 40px;
	}

	.city {
		padding: 40px 0;

		@media all and (min-width: $med-tide) {
			padding-top: 80px;
		}

		&.hq {
			background: $base-bg;

		}

		.h1 {
			background: #2b2c42;
		}

		@media all and (min-width: $med-tide) {
			width: 33.3333%;
			float: left;
		}

		.tel {
			display: block;
		}

		.email {
			display: inline-block;
			margin-top: 40px;
			margin-bottom: 20px;

			@media all and (min-width: $med-tide) {
				margin-top: 60px;
				margin-bottom: 30px;
				padding: 20px 40px;
			}
		}
	}

	.social {
		background: white;
		text-align: center;

		a {
			display: inline-block;
			margin: 10px 20px;
		}

		path, .cls-1 {
			fill: #2b2c42 !important;
		}
	}
}