footer {
	max-width: 270px;
	margin: 0 auto;
	border-top: 3px solid $base-bg;
	padding-top: 50px;
	margin-top: 100px;

	@media all and (min-width: $med-tide) {
		max-width: 830px;
	}

	.city {
		margin-bottom: 40px;
		text-align: center;
		position: relative;

		@media all and (min-width: $med-tide) {
			width: 33.333%;
			float: left;
			margin-bottom: 0;
		}
	}

	h3 {
		@extend %reset;
		font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.hq-title {
		position: absolute;
		top: -10px;
	}

	.hq {
		position: relative;
		top: -20px;
	}

	.hq-title {
		@extend %reset;
		padding: 0;
		font-size: 10px;
		position: relative;
		top: -20px;
	}

	p {
		font-size: 12px;
		font-weight: 400;
	}

	.tel {
		display: inline-block;
		margin-top: 10px;
	}

	.email {
		background: #fff;
		margin-top: 20px;
		@include btn($base-color: $base-bg, $hover-color: $base-bg, $hover-bg: rgba(255, 255, 255, .6));
		font-size: 16px;
	}

	.aus {
		margin-bottom: 70px;

		@media all and (min-width: $med-tide) {
			margin-bottom: 0;
		}
	}

	.social {
		position: relative;
		text-align: center;
		font-size: 22px;
		margin-bottom: 20px;

		a {
			display: inline-block;
			margin: 0 20px;
		}

		.icon {
			font-size: 28px;
		}
	}

	.social:before, .social:after {
		@media all and (min-width: $med-tide) {
			content:'';
			border-bottom: 2px solid #000;
			width: 33%;
			display: block;
			top: 12px;
		}
	}

	.social:before {
		position: absolute;
		left: 0;
	}

	.social:after {
		position: absolute;
		right: 0;
	}
}

.index footer, .space footer {
	margin-top: 0;
}