.main-header {
	padding: 20px;
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	width: 100%;
	@extend %clearfix;
	z-index: 100;

	.logo {
		float: left;
		@include heading-font();
		color: white;
		font-size: 15px;
		letter-spacing: 2px;
		font-weight: 500;
		position: relative;
	    top: 3px;
	}

	.menu {
		color: white;
		font-size: 1em;
	}
}