.site-nav {
	float: right;
	position: relative;

	ul {
		@extend %reset;
		text-align: center;
		list-style: none;
	}

	li {
		margin-bottom: 60px;
	}

	a {
		color: #fff;
		padding-bottom: 20px;
	}

	li a:hover {
		border-bottom: 4px solid #fff;
	}

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2000;
		background: $base-bg;
		padding-left: 0;
    padding-top: 20vh;
    overflow: scroll;

	    li {
	    	text-transform: uppercase;
	    }

	    a {
	    	font-family: $heading-font;
	    	font-size: 3.2em;
	    	font-weight: 500;
	    }
	}

	.close-menu a:hover {
		border-bottom: none;
	}

	.contact {
		a {
			text-align: center;
			display: block;
			font-size: 12px;
			text-decoration: underline;
			padding-bottom: 6px;
		}

		a:hover {
			border-bottom: none;
		}
	}

	.close-menu {
		position: absolute;
		top: 20px;
		right: 20px;
		line-height: 0;
	}
}
