.next-stories {
	@extend %container;
	padding: 0 30px;

	h2 {
		font-weight: 400;
		border-bottom: 1px solid #000;
		padding-top: 60px;
		padding-bottom: 20px;
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	.highlight {
		font-weight: 500;
	}
}