.sign-up {
	background: #fff;
	padding: 0 20px;

	@media all and (min-width: $med-tide) {
		padding: 60px 20px;
	}

	p:first-of-type {
		margin-top: 0;
		padding-top: 60px;
	}

	p {
		padding-left: 40px;
		position: relative;
	}

	.icon {
		color: $action-accent;
		position: absolute;
		left: 10px;
	}

	.btn {
		@include btn($background: transparent, $base-color: $base-bg, $hover-color: #fff, $hover-bg: $external-accent);

		&:hover {
			border-color: $external-accent;
		}
	}

	ul {
		list-style: none;
		@extend %reset;
		margin-top: 40px;
	}

	li {
		margin-bottom: 20px;
	}

	input {
		font-size: 16px;
		// font-style: italic;
	}

	@media all and (min-width: $med-tide) {
		.info {
			width: 66.66%;
			float: left;
		}

		aside {
			width: 33.33%;
			float: left;
		}
	}
}