.site-nav {
	float: right;

	ul {
		@extend %reset;
		text-align: center;
		list-style: none;
	}

	li {
		font-size: 4em;
		padding: 40px 0;
	}

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2000;
		background: $base-bg;
	    padding-top: 20vh;
	}
}