.site-nav {
	float: right;
	position: relative;

	ul {
		@extend %reset;
		text-align: center;
		list-style: none;
	}

	li {
		font-size: 4em;
		margin-bottom: 60px;
	}

	li a:hover {
		border-bottom: 4px solid #fff;
		padding-bottom: 20px;
	}

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2000;
		background: $base-bg;
	    padding-top: 20vh;
	    overflow: scroll;
	}

	.menu-click {
		img {
			width: 24px;
		}
	}

	.close-menu {
		position: absolute;
		top: 20px;
		right: 20px;
		line-height: 0;
	}
}